Repository lagonapp/lagon, pull requests merged in 2022-08, with the labels that each got.

#102 feat(website): add next-international for i18n
  packages/website/locales/en.ts
  packages/website/locales/fr.ts
  packages/website/locales/index.ts
  packages/website/next.config.js
  packages/website/package.json
  packages/website/pages/_app.tsx
  packages/website/pages/index.tsx
  packages/website/pages/profile.tsx
  packages/website/pages/settings.tsx
  pnpm-lock.yaml
Labels: feature, package/website

#85 feat(runtime,serverless): add response streaming
  examples/react-streaming/App.tsx
  examples/react-streaming/Hello.tsx
  examples/react-streaming/index.tsx
  examples/react-streaming/package.json
  examples/react-streaming/public/main.css
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/runtime/package.json
  packages/runtime/src/__tests__/base64.test.ts
  packages/runtime/src/__tests__/env.test.ts
  packages/runtime/src/__tests__/eval.test.ts
  packages/runtime/src/__tests__/fetch.test.ts
  packages/runtime/src/__tests__/isolate.test.ts
  packages/runtime/src/__tests__/logs.test.ts
  packages/runtime/src/index.ts
  packages/runtime/src/isolate/index.ts
  packages/runtime/src/isolate/runtime.ts
  packages/runtime/src/runtime/base64.ts
  packages/runtime/src/runtime/streams.ts
  packages/serverless/package.json
  packages/serverless/src/deployments/index.ts
  packages/serverless/src/server.ts
  packages/website/lib/api/deployments.ts
  packages/website/lib/trpc/functionsRouter.ts
  packages/website/pages/api/deployment.ts
  pnpm-lock.yaml
Labels: feature, package/runtime, package/cli, package/serverless

#104 fix(serverless,cli): error on non-streamed response
  .changeset/soft-terms-perform.md
  .changeset/two-ghosts-pay.md
  packages/cli/src/commands/dev.ts
  packages/cli/src/utils/constants.ts
  packages/serverless/src/server.ts
Labels: bug, package/cli, package/serverless

#108 refactor(cli): improve output and logs
  .changeset/shy-coins-enjoy.md
  packages/cli/src/commands/dev.ts
  packages/cli/src/utils/deployments.ts
  packages/cli/src/utils/logger.ts
Labels: package/cli, refactor

#109 feat(cli): rename `--preact` to `--client <file>`
  .changeset/long-lobsters-look.md
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/utils/deployments.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/logger.ts
Labels: feature, package/cli

#110 test(serverless): increase timeout for memory full
  packages/serverless/src/__tests__/errors.test.ts
Labels: package/serverless, tests

#105 feat: add astro integration
  .changeset/chilly-pens-drum.md
  .changeset/friendly-masks-burn.md
  examples/astro/astro.config.mjs
  examples/astro/package.json
  examples/astro/public/favicon.ico
  examples/astro/src/components/Card.astro
  examples/astro/src/env.d.ts
  examples/astro/src/layouts/Layout.astro
  examples/astro/src/pages/index.astro
  examples/astro/tsconfig.json
  examples/fetch-api/package.json
  examples/preact-ssr/package.json
  examples/preact/package.json
  examples/react-ssr/package.json
  examples/react-streaming/package.json
  examples/react/package.json
  examples/reply-with-html/package.json
  examples/reply-with-json/package.json
  package.json
  packages/astro/package.json
  packages/astro/src/index.ts
  packages/astro/src/server.ts
  packages/astro/tsconfig.json
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/cli/src/utils/deployments.ts
  packages/common/package.json
  packages/prisma/package.json
  packages/runtime/src/runtime/URL.ts
  packages/serverless/package.json
  packages/serverless/src/server.ts
  packages/website/package.json
  pnpm-lock.yaml
Labels: feature, integration

#111 feat(serverless,runtime): handle favicons
  .changeset/old-bikes-work.md
  .changeset/strong-dryers-fold.md
  packages/cli/src/commands/dev.ts
  packages/common/src/helpers/extensions.ts
  packages/serverless/src/deployments/index.ts
  packages/serverless/src/server.ts
Labels: feature, package/runtime, package/serverless

#117 fix(serverless,cli): always transform the body to a string
  .changeset/modern-islands-join.md
  packages/cli/src/commands/dev.ts
  packages/serverless/src/server.ts
Labels: bug, package/cli, package/serverless

#119 fix(serverless): create folders in assets that are nested
  .changeset/fast-poets-wash.md
  packages/serverless/src/deployments/index.ts
Labels: bug, package/serverless

#121 feat(website): use `unstable_getServerSession` to reduce API calls duration
  packages/serverless/.env.example
  packages/website/pages/api/auth/[...nextauth].ts
  packages/website/pages/api/trpc/[trpc].ts
Labels: feature, package/website

#123 feat(website): add language selection
  packages/website/lib/Layout.tsx
  packages/website/locales/en.ts
  packages/website/locales/index.ts
  packages/website/pages/_app.tsx
  packages/website/pages/cli.tsx
  packages/website/pages/functions/[functionId].tsx
  packages/website/pages/new.tsx
  packages/website/pages/profile.tsx
Labels: feature, package/website

#124 feat(website): i18n everywhere
  packages/website/lib/pages/function/FunctionDeployments.tsx
  packages/website/lib/pages/function/FunctionLogs.tsx
  packages/website/lib/pages/function/FunctionOverview.tsx
  packages/website/lib/pages/function/FunctionSettings.tsx
  packages/website/lib/pages/functions/FunctionsList.tsx
  packages/website/locales/en.ts
  packages/website/pages/cli.tsx
  packages/website/pages/functions/[functionId].tsx
  packages/website/pages/index.tsx
  packages/website/pages/new.tsx
  packages/website/pages/playground/[functionId].tsx
  packages/website/pages/profile.tsx
  packages/website/pages/settings.tsx
Labels: feature, package/website

#125 chore(website): update next-international to 0.2.0
  packages/website/locales/index.ts
  packages/website/package.json
  packages/website/pages/cli.tsx
  packages/website/pages/index.tsx
  packages/website/pages/new.tsx
  packages/website/pages/profile.tsx
  packages/website/pages/settings.tsx
  pnpm-lock.yaml
Labels: package/website

#126 feat(website): complete french locale for i18n
  packages/website/locales/en.ts
  packages/website/locales/fr.ts
Labels: feature, package/website, i18n

#127 feat(serverless,website): cron functions
  packages/common/src/constants.ts
  packages/prisma/schema.prisma
  packages/serverless/.env.example
  packages/serverless/package.json
  packages/serverless/src/__tests__/misc.test.ts
  packages/serverless/src/cluster/master.ts
  packages/serverless/src/cluster/worker.ts
  packages/serverless/src/deployments/cache.ts
  packages/serverless/src/deployments/utils.ts
  packages/website/lib/api/deployments.ts
  packages/website/lib/pages/function/FunctionSettings.tsx
  packages/website/lib/trpc/deploymentsRouter.ts
  packages/website/lib/trpc/functionsRouter.ts
  packages/website/lib/trpc/organizationsRouter.ts
  packages/website/locales/en.ts
  packages/website/locales/fr.ts
  packages/website/package.json
  packages/website/pages/api/cron.ts
  packages/website/pages/api/deployment.ts
  pnpm-lock.yaml
Labels: feature, package/website, package/serverless

#128 feat(docker): improve nginx config
  docker/nginx/nginx.conf
Labels: feature, docker

#129 fix(astro): don't bundle astro
  .changeset/honest-icons-worry.md
  packages/astro/package.json
Labels: bug, integration

#135 fix(website): s3 command doesn't use `process.env.S3_BUCKET`
  packages/website/lib/api/deployments.ts
Labels: bug, package/website

#96 feat: rust runtime
  .gitignore
  Cargo.lock
  Cargo.toml
  flamegraph1.svg
  packages/rust-runtime/Cargo.toml
  packages/rust-runtime/js/Request.ts
  packages/rust-runtime/js/Response.ts
  packages/rust-runtime/js/URL.ts
  packages/rust-runtime/js/base64.ts
  packages/rust-runtime/js/console.ts
  packages/rust-runtime/js/encoding.ts
  packages/rust-runtime/js/fetch.ts
  packages/rust-runtime/js/index.ts
  packages/rust-runtime/js/parseMultipart.ts
  packages/rust-runtime/js/runtime.js
  packages/rust-runtime/js/streams.ts
  packages/rust-runtime/package.json
  packages/rust-runtime/src/http/mod.rs
  packages/rust-runtime/src/isolate/allocator.rs
  packages/rust-runtime/src/isolate/bindings/mod.rs
  packages/rust-runtime/src/isolate/mod.rs
  packages/rust-runtime/src/lib.rs
  packages/rust-runtime/src/runtime/mod.rs
  packages/rust-runtime/src/utils.rs
  packages/rust-serverless/Cargo.toml
  packages/rust-serverless/src/http/mod.rs
  packages/rust-serverless/src/main.rs
  pnpm-lock.yaml
Labels: refactor
