Repository lagonapp/lagon, pull requests merged in 2022-12, with the labels that each got.

#329 feat(serverless): improve logs
  .changeset/fuzzy-hairs-push.md
  packages/serverless/src/deployments/filesystem.rs
  packages/serverless/src/main.rs
Labels: feature, package/serverless

#335 perf(serverless): don't spawn a thread on each request
  .changeset/funny-peaches-tie.md
  Cargo.lock
  packages/runtime/Cargo.toml
  packages/runtime/src/isolate/mod.rs
  packages/runtime/src/runtime/mod.rs
Labels: package/serverless, perf

#340 fix(cli,dashboard): promote deployments without existing production deployments
  .changeset/dry-mangos-allow.md
  .changeset/sweet-kids-flash.md
  packages/cli/src/commands/promote.rs
  packages/cli/src/commands/rm.rs
  packages/cli/src/commands/undeploy.rs
  packages/cli/src/utils/trpc.rs
  packages/dashboard/lib/api/deployments.ts
  packages/dashboard/lib/trpc/accountsRouter.ts
  packages/dashboard/lib/trpc/deploymentsRouter.ts
  packages/dashboard/lib/trpc/functionsRouter.ts
  packages/dashboard/lib/trpc/organizationsRouter.ts
  packages/dashboard/lib/trpc/tokensRouter.ts
Labels: bug, package/dashboard, package/cli

#342 ci: publish assets on release
  .github/workflows/cd.yml
Labels: ci

#351 fix(dashboard): use `query` instead of `queryLegacy` for axiom
  .changeset/bright-spoons-switch.md
  packages/dashboard/lib/trpc/functionsRouter.ts
Labels: bug, package/serverless

#353 fix(serverless): don't use a .env file on release
  .changeset/green-flowers-cross.md
  docker/serverless.Dockerfile
  packages/serverless/src/deployments/cache.rs
  packages/serverless/src/deployments/mod.rs
  packages/serverless/src/deployments/pubsub.rs
  packages/serverless/src/logger.rs
  packages/serverless/src/main.rs
Labels: bug, package/serverless

#354 feat(serverless): add `LAGON_LISTEN_ADDR` and `PROMETHEUS_LISTEN_ADDR` env variables
  .changeset/clean-tips-clean.md
  packages/serverless/.env.example
  packages/serverless/src/main.rs
Labels: feature, package/serverless

#357 feat(docs): improve contributing guidelines
  .changeset/cold-jokes-talk.md
  README.md
  packages/docs/pages/contributing.mdx
Labels: package/docs, feature

#359 chore: improve Docker image
  .dockerignore
  docker/Dockerfile
  docker/nginx.Dockerfile
  docker/nginx/nginx.conf
  docker/serverless.Dockerfile
  package.json
Labels: tooling, chore

#363 feat(serverless): add more metrics
  .changeset/nice-dogs-divide.md
  packages/serverless/src/deployments/pubsub.rs
  packages/serverless/src/logger.rs
  packages/serverless/src/main.rs
Labels: feature, package/serverless

#371 fix(ui,dashboard): design bugs
  .changeset/quick-crabs-laugh.md
  .changeset/smooth-mangos-perform.md
  assets/icon-black.png
  assets/icon-white-black.png
  assets/icon-white.png
  assets/logo-black.png
  assets/logo-white-black.png
  assets/logo-white.png
  packages/dashboard/lib/trpc/functionsRouter.ts
  packages/dashboard/public/favicon-black.ico
  packages/dashboard/public/favicon-white.ico
  packages/dashboard/public/icon-black.png
  packages/dashboard/public/icon-white.png
  packages/ui/src/components/Button/index.tsx
  packages/ui/src/components/Button/styles.ts
  www/lib/components/Header.tsx
  www/public/favicon-black.ico
  www/public/favicon-white.ico
  www/public/logo-white.png
Labels: bug, package/dashboard, package/ui

#373 ci: upload to release on workflow_run
  .github/workflows/cd.yml
Labels: ci

#374 fix(docs): position of `lagon link` section
  .changeset/honest-sheep-perform.md
  packages/docs/pages/cli.mdx
Labels: bug, package/docs

#376 fix(dashboard): various issues
  .changeset/famous-flies-exercise.md
  .changeset/perfect-beers-smile.md
  .changeset/warm-frogs-share.md
  packages/dashboard/lib/api/functions.ts
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
  packages/dashboard/lib/trpc/deploymentsRouter.ts
  packages/dashboard/lib/trpc/functionsRouter.ts
  packages/dashboard/lib/trpc/tokensRouter.ts
  packages/dashboard/pages/index.tsx
  packages/dashboard/pages/playground/[functionId].tsx
Labels: bug, feature, package/dashboard

#379 feat(serverless): forward `X-Real-Ip` as `X-Forwarded-For` & `X-Lagon-Region`
  .changeset/spotty-wombats-bathe.md
  .changeset/wise-cooks-warn.md
  packages/runtime/tests/disallow_codegen.rs
  packages/serverless/src/main.rs
Labels: feature, package/serverless

#381 perf(runtime): avoid creating a new HTTP(S) client on each `fetch` call
  .changeset/breezy-guests-nail.md
  packages/runtime/src/isolate/bindings/fetch.rs
Labels: package/runtime, perf

#384 feat(docs): add regions docs
  packages/dashboard/lib/constants.ts
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
  packages/docs/pages/cloud/regions.mdx
Labels: package/docs, feature

#387 refactor: remove @lagon/types package
  examples/astro/package.json
  examples/fetch-api/package.json
  examples/preact-ssr/package.json
  examples/preact/package.json
  examples/react-ssr/package.json
  examples/react-streaming/package.json
  examples/react/package.json
  examples/reply-with-html/package.json
  examples/reply-with-json/package.json
  examples/satori/package.json
  examples/trpc/package.json
  packages/types/README.md
  packages/types/generate.mjs
  packages/types/package.json
  packages/types/tsconfig.json
  packages/types/types.d.ts
  pnpm-lock.yaml
Labels: refactor

#388 test(runtime): throw error if `handler` is not a function
  packages/js-runtime/src/index.ts
  packages/runtime/tests/errors.rs
Labels: package/runtime, tests

#389 feat(serverless): add metrics for errors/timeouts/memory limits
  .changeset/clever-ears-juggle.md
  packages/dashboard/lib/trpc/statsRouter.ts
  packages/serverless/src/main.rs
Labels: feature, package/serverless

#390 feat(dashboard,cli,docs): implement limits
  .changeset/happy-teachers-relax.md
  .changeset/late-dogs-sparkle.md
  packages/cli/src/commands/build.rs
  packages/cli/src/commands/dev.rs
  packages/cli/src/commands/undeploy.rs
  packages/cli/src/utils/deployments.rs
  packages/cli/src/utils/mod.rs
  packages/dashboard/lib/constants.ts
  packages/dashboard/lib/pages/function/FunctionDeployments.tsx
  packages/dashboard/lib/trpc/deploymentsRouter.ts
  packages/dashboard/lib/trpc/functionsRouter.ts
  packages/dashboard/pages/index.tsx
  packages/dashboard/pages/playground/[functionId].tsx
  packages/docs/pages/cloud/_meta.json
  packages/docs/pages/cloud/limitations.mdx
  packages/docs/pages/cloud/limits.mdx
Labels: package/docs, feature, package/dashboard, package/cli

#394 feat(dashboard): add indexes to Prisma schema
  .changeset/many-rabbits-shave.md
  packages/dashboard/package.json
  packages/dashboard/prisma/migrations/20221217074048_add_indexes/migration.sql
  packages/dashboard/prisma/schema.prisma
  pnpm-lock.yaml
Labels: feature, package/dashboard

#253 fix(js-runtime): bring URL closer to the standard
  .changeset/giant-cats-mate.md
  packages/js-runtime/src/__tests__/url.test.ts
  packages/js-runtime/src/runtime/http/URL.ts
Labels: feature, package/js-runtime

#395 feat(dashboard): redeploy production deployment when a setting is updated
  .changeset/weak-windows-remain.md
  packages/dashboard/lib/api/deployments.ts
  packages/dashboard/lib/trpc/functionsRouter.ts
Labels: feature, package/dashboard

#396 feat(js-runtime,docs): add `navigator.userAgent` API
  .changeset/config.json
  .changeset/tricky-dogs-impress.md
  packages/docs/pages/runtime-apis.mdx
  packages/js-runtime/package.json
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/global/navigator.ts
Labels: package/js-runtime

#397 perf(runtime,serverless): use an `Rc` for isolates metadata instead of cloning
  .changeset/dull-flies-compare.md
  packages/runtime/src/isolate/bindings/console.rs
  packages/runtime/src/isolate/mod.rs
  packages/serverless/src/deployments/cache.rs
  packages/serverless/src/main.rs
Labels: package/runtime, package/serverless, perf

#403 feat(js-runtime): new `Blob` & `File` implementations
  .changeset/silly-ligers-flash.md
  .gitmodules
  packages/docs/pages/runtime-apis.mdx
  packages/js-runtime/package.json
  packages/js-runtime/src/__tests__/blob.test.ts
  packages/js-runtime/src/__tests__/file.test.ts
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/blob.ts
  packages/js-runtime/src/runtime/file.ts
  packages/js-runtime/tsconfig.json
  packages/runtime/src/runtime/mod.rs
  packages/wpt-runner/src/main.rs
  pnpm-lock.yaml
  vitest.config.mts
Labels: feature, package/js-runtime

#405 feat(runtime): add SHA1 to `CryptoSubtle#digest`
  .changeset/thirty-spiders-glow.md
  Cargo.lock
  packages/docs/pages/runtime-apis.mdx
  packages/runtime/Cargo.toml
  packages/runtime/src/isolate/bindings/crypto/digest.rs
  packages/runtime/tests/crypto.rs
Labels: package/docs, feature, package/runtime

#406 fix(cli): random segfault with `lagon dev`
  .changeset/light-tomatoes-bake.md
  Cargo.lock
  packages/cli/Cargo.toml
  packages/cli/src/commands/dev.rs
Labels: bug, package/cli

#411 fix(runtime): use 16 bytes iv for AES-GCM
  .changeset/nervous-cooks-promise.md
  Cargo.lock
  packages/runtime/Cargo.toml
  packages/runtime/src/crypto.rs
  packages/runtime/src/isolate/bindings/crypto/decrypt.rs
  packages/runtime/src/isolate/bindings/crypto/encrypt.rs
  packages/runtime/src/isolate/bindings/crypto/random_values.rs
  packages/runtime/tests/crypto.rs
Labels: bug, package/runtime

#416 fix(runtime,serverless,cli): properly handle errors and timeouts while streaming
  .changeset/heavy-kings-float.md
  .changeset/hip-mails-shop.md
  .changeset/rude-items-brush.md
  packages/cli/src/commands/dev.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/tests/disallow_codegen.rs
  packages/runtime/tests/errors.rs
  packages/runtime/tests/fetch.rs
  packages/runtime/tests/streams.rs
  packages/serverless/src/main.rs
  packages/wpt-runner/src/main.rs
Labels: bug, package/runtime, package/cli, package/serverless

#420 feat(wpt,runtime,js-runtime): more conformance
  packages/js-runtime/src/runtime/http/Headers.ts
  packages/js-runtime/src/runtime/http/body.ts
  packages/runtime/src/isolate/mod.rs
  packages/wpt-runner/current-results.md
  packages/wpt-runner/src/main.rs
Labels: feature, package/runtime, package/js-runtime, web-platform-tests

#422 chore: add Hono, HatTip, Rakkas examples
  examples/hattip/handler.ts
  examples/hattip/index.ts
  examples/hattip/package.json
  examples/hono/index.ts
  examples/hono/package.json
  examples/rakkas/package.json
  examples/rakkas/src/crud.ts
  examples/rakkas/src/routes/about.page.tsx
  examples/rakkas/src/routes/index.page.tsx
  examples/rakkas/src/routes/layout.module.css
  examples/rakkas/src/routes/layout.tsx
  examples/rakkas/src/routes/todo/Todo.module.css
  examples/rakkas/src/routes/todo/Todo.tsx
  examples/rakkas/src/routes/todo/index.page.tsx
  examples/rakkas/src/routes/todo/page.module.css
  examples/rakkas/tsconfig.json
  examples/rakkas/vite.config.ts
  pnpm-lock.yaml
Labels: chore, examples

#423 fix(js-runtime): `Response.json()` API conformance with WPT
  .changeset/popular-apricots-shake.md
  packages/js-runtime/src/runtime/http/Response.ts
  packages/wpt-runner/current-results.md
Labels: bug, package/js-runtime, web-platform-tests

#424 fix(cli): define `process.env.NODE_ENV` to `"production"` & bundle in ESNext
  .changeset/ten-hats-sell.md
  .changeset/tricky-cups-decide.md
  packages/cli/src/utils/deployments.rs
Labels: bug, package/cli

#429 fix(js-runtime): `Response.error()` & `Response.redirect()` WPT conformance
  .changeset/loud-clocks-tell.md
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/http/Headers.ts
  packages/js-runtime/src/runtime/http/Response.ts
  packages/js-runtime/src/runtime/http/URL.ts
  packages/wpt-runner/current-results.md
Labels: bug, package/js-runtime, web-platform-tests

#434 fix(cli): ESBuild path on Windows
  .changeset/wild-boats-shout.md
  packages/cli/src/utils/deployments.rs
Labels: bug, package/cli

#438 feat(js-runtime): add `Event` & `EventTarget` APIs
  .changeset/many-beans-itch.md
  package.json
  packages/docs/pages/runtime-apis.mdx
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/blob.ts
  packages/js-runtime/src/runtime/event.ts
  packages/js-runtime/src/runtime/streams.ts
  packages/wpt-runner/current-results.md
  packages/wpt-runner/src/main.rs
  pnpm-lock.yaml
Labels: package/docs, feature, package/js-runtime

#440 chore(turbo): improve config
  .eslintignore
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
  packages/astro/.eslintignore
  packages/astro/package.json
  packages/dashboard/.eslintrc.json
  packages/dashboard/package.json
  packages/docs/.eslintrc.json
  packages/js-runtime/.eslintignore
  packages/js-runtime/package.json
  packages/ui/.eslintignore
  packages/ui/package.json
  turbo.json
  www/package.json
Labels: tooling, chore
