Repository lagonapp/lagon, pull requests merged in 2022-10, with the labels that each got.

#156 feat(serverless,website): add statistics
  .changeset/eight-worms-own.md
  .changeset/wet-cats-flow.md
  Cargo.lock
  docker-compose.yml
  docker/grafana/datasources/prometheus_ds.yml
  docker/prometheus/prometheus.yml
  packages/cli/src/commands/login.rs
  packages/runtime/src/http/mod.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/tests/runtime.rs
  packages/serverless/Cargo.toml
  packages/serverless/src/deployments/filesystem.rs
  packages/serverless/src/deployments/mod.rs
  packages/serverless/src/deployments/pubsub.rs
  packages/serverless/src/main.rs
  packages/website/.env.example
  packages/website/lib/api/deployments.ts
  packages/website/lib/components/Chart/index.tsx
  packages/website/lib/hooks/useFunctionStats.ts
  packages/website/lib/pages/function/FunctionOverview.tsx
  packages/website/lib/trpc/functionsRouter.ts
  packages/website/lib/trpc/statsRouter.ts
  packages/website/package.json
  packages/website/pages/api/trpc/[trpc].ts
  packages/website/prisma/migrations/20220929090250_add_cronregion/migration.sql
  packages/website/prisma/migrations/20220929090545_remove_stats_table/migration.sql
  packages/website/prisma/schema.prisma
  pnpm-lock.yaml
Labels: feature, package/website, package/serverless

#160 fix(cli,serverless): correctly bundle and deploy assets
  .changeset/spotty-experts-whisper.md
  .changeset/thin-vans-complain.md
  Cargo.lock
  examples/preact-ssr/index.tsx
  examples/preact/index.tsx
  examples/react-ssr/index.tsx
  examples/react/index.tsx
  packages/cli/Cargo.toml
  packages/cli/src/commands/build.rs
  packages/cli/src/utils/deployments.rs
  packages/serverless/src/deployments/filesystem.rs
  packages/serverless/src/deployments/mod.rs
  packages/serverless/src/main.rs
Labels: bug, package/cli, package/serverless

#161 chore(ci): add concurrency and turbo
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci

#162 feat(serverless): add stdout & axiom logging
  .changeset/weak-readers-tap.md
  Cargo.lock
  packages/serverless/.env.example
  packages/serverless/Cargo.toml
  packages/serverless/src/deployments/filesystem.rs
  packages/serverless/src/deployments/mod.rs
  packages/serverless/src/deployments/pubsub.rs
  packages/serverless/src/logger.rs
  packages/serverless/src/main.rs
Labels: feature, package/serverless

#167 feat(runtime,js-runtime): handle `Uint8Array` in `Response` body
  .changeset/violet-insects-wink.md
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/Response.ts
  packages/runtime/src/http/mod.rs
  packages/runtime/src/isolate/bindings/fetch.rs
  packages/runtime/src/runtime/mod.rs
  packages/runtime/tests/runtime.rs
  packages/serverless/src/deployments/assets.rs
Labels: feature, package/runtime, package/js-runtime

#159 feat(cli): update clap to v4
  .changeset/silent-shrimps-dance.md
  Cargo.lock
  packages/cli/Cargo.toml
  packages/cli/src/main.rs
Labels: feature, package/cli

#168 feat(runtime): implement event loop
  .changeset/gorgeous-lemons-wonder.md
  Cargo.lock
  packages/runtime/Cargo.toml
  packages/runtime/src/isolate/mod.rs
  packages/runtime/tests/runtime.rs
  packages/serverless/src/main.rs
Labels: package/runtime

#170 refactor(runtime): proper Rust -> JS promises through the event-loop
  Cargo.lock
  packages/runtime/Cargo.toml
  packages/runtime/src/isolate/bindings/fetch.rs
  packages/runtime/src/isolate/bindings/mod.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/tests/runtime.rs
Labels: package/runtime

#172 refactor(cli,runtime,serverless): apply clippy suggestions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/cli/package.json
  packages/cli/src/utils/deployments.rs
  packages/cli/src/utils/mod.rs
  packages/runtime/package.json
  packages/runtime/src/http/mod.rs
  packages/runtime/src/isolate/allocator.rs
  packages/runtime/src/isolate/bindings/fetch.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/src/lib.rs
  packages/runtime/src/runtime/mod.rs
  packages/serverless/package.json
  packages/serverless/src/deployments/filesystem.rs
  packages/serverless/src/deployments/mod.rs
  packages/serverless/src/http/mod.rs
  packages/serverless/src/main.rs
Labels: package/runtime, package/cli, refactor, package/serverless

#173 refactor: clean Rust code
  packages/js-runtime/src/runtime/console.ts
  packages/runtime/src/http/mod.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/src/runtime/mod.rs
  packages/runtime/tests/errors.rs
  packages/runtime/tests/promises.rs
  packages/runtime/tests/runtime.rs
  packages/serverless/src/main.rs
Labels: refactor

#174 refactor(serverless): scope isolates to specific threads
  Cargo.lock
  packages/runtime/src/isolate/mod.rs
  packages/serverless/Cargo.toml
  packages/serverless/src/main.rs
Labels: refactor, package/serverless

#175 refactor(runtime): handle memory limit with heap limit callback
  packages/runtime/src/isolate/allocator.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/tests/errors.rs
Labels: package/runtime, refactor

#176 chore(serverless): fix clippy error
  packages/serverless/src/main.rs
Labels: chore, package/serverless

#177 chore: update README.md
  README.md
Labels: documentation

#179 feat(cli,website): presigned urls
  .changeset/lovely-countries-design.md
  .changeset/unlucky-ravens-work.md
  .github/workflows/cd.yml
  Cargo.lock
  packages/cli/Cargo.toml
  packages/cli/src/commands/deploy.rs
  packages/cli/src/utils/deployments.rs
  packages/cli/src/utils/mod.rs
  packages/cli/src/utils/trpc.rs
  packages/website/lib/api/deployments.ts
  packages/website/lib/trpc/deploymentsRouter.ts
  packages/website/package.json
  packages/website/pages/api/deployment.ts
  pnpm-lock.yaml
Labels: package/website, package/cli

#180 fix(website): s3 is undefined error
  Cargo.lock
  packages/website/lib/trpc/deploymentsRouter.ts
Labels: bug, package/website

#181 feat(runtime): response streaming
  .changeset/five-taxis-wash.md
  .changeset/red-mails-dream.md
  Cargo.lock
  examples/react-streaming/App.tsx
  examples/react-streaming/index.tsx
  packages/cli/src/utils/trpc.rs
  packages/js-runtime/package.json
  packages/js-runtime/src/index.ts
  packages/runtime/Cargo.toml
  packages/runtime/src/http/mod.rs
  packages/runtime/src/http/request.rs
  packages/runtime/src/http/response.rs
  packages/runtime/src/isolate/bindings/fetch.rs
  packages/runtime/src/isolate/bindings/mod.rs
  packages/runtime/src/isolate/bindings/pull_stream.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/tests/errors.rs
  packages/runtime/tests/promises.rs
  packages/runtime/tests/runtime.rs
  packages/serverless/src/http/mod.rs
  packages/serverless/src/main.rs
Labels: feature, package/runtime

#184 fix(website): deployments creation domains array
  .changeset/kind-peas-sort.md
  packages/website/lib/trpc/deploymentsRouter.ts
Labels: bug, package/website

#183 fix(serverless): assets directory not deleting on undeploys
  .changeset/proud-pants-smell.md
  packages/serverless/src/deployments/filesystem.rs
Labels: bug, package/serverless

#185 feat(cli,runtime): beautify errors
  .changeset/fuzzy-panthers-sin.md
  packages/cli/src/utils/deployments.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/tests/errors.rs
Labels: feature, package/runtime, package/cli

#186 feat(runtime,js-runtime): complete fetch APIs
  .changeset/fresh-carpets-wonder.md
  .changeset/good-adults-add.md
  packages/js-runtime/src/__tests__/console.test.ts
  packages/js-runtime/src/__tests__/fetch.test.ts
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/Response.ts
  packages/js-runtime/src/runtime/console.ts
  packages/js-runtime/src/runtime/fetch.ts
  packages/runtime/Cargo.toml
  packages/runtime/src/http/method.rs
  packages/runtime/src/http/mod.rs
  packages/runtime/src/http/request.rs
  packages/runtime/src/http/response.rs
  packages/runtime/src/isolate/bindings/fetch.rs
  packages/runtime/tests/errors.rs
  packages/runtime/tests/fetch.rs
  packages/runtime/tests/promises.rs
  packages/runtime/tests/runtime.rs
  packages/serverless/src/deployments/assets.rs
  packages/serverless/src/main.rs
Labels: feature, package/runtime, package/js-runtime

#189 feat(cli): add `lagon dev` command
  .changeset/chatty-avocados-argue.md
  Cargo.lock
  packages/cli/Cargo.toml
  packages/cli/src/commands/dev.rs
  packages/cli/src/main.rs
  packages/serverless/src/main.rs
Labels: feature, package/cli

#190 chore(ci): cache Rust artifacts
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci, chore

#191 feat(cli): custom site URL for self-hosting
  .changeset/sour-jobs-boil.md
  packages/cli/src/auth.rs
  packages/cli/src/commands/deploy.rs
  packages/cli/src/commands/login.rs
  packages/cli/src/commands/logout.rs
  packages/cli/src/commands/undeploy.rs
  packages/cli/src/main.rs
  packages/cli/src/utils/config.rs
  packages/cli/src/utils/deployments.rs
  packages/cli/src/utils/mod.rs
  packages/cli/src/utils/trpc.rs
Labels: feature, package/cli

#192 fix(cli): binary name on Windows & correctly install
  .changeset/afraid-llamas-divide.md
  .changeset/rotten-turkeys-tan.md
  packages/cli/npm/getBinary.js
  packages/cli/npm/install.js
  packages/cli/npm/run.js
  packages/cli/npm/uninstall.js
Labels: bug, package/cli

#193 feat(cli): add live reload to dev server
  .changeset/khaki-doors-arrive.md
  Cargo.lock
  packages/cli/Cargo.toml
  packages/cli/src/commands/build.rs
  packages/cli/src/commands/deploy.rs
  packages/cli/src/commands/dev.rs
  packages/cli/src/utils/deployments.rs
Labels: feature, package/cli

#194 fix(cli): add back try/catch
  packages/cli/npm/getBinary.js
  packages/cli/npm/install.js
  packages/cli/npm/uninstall.js
Labels: bug, package/cli

#195 fix(cli): dev command
  .changeset/fresh-pigs-walk.md
  packages/cli/npm/run.js
  packages/cli/src/commands/dev.rs
Labels: bug, package/cli

#202 fix(cli): open the correct URL on login
  .changeset/popular-comics-smile.md
  packages/cli/src/commands/login.rs
  packages/cli/src/utils/config.rs
  packages/cli/src/utils/mod.rs
Labels: bug, package/cli

#204 fix(runtime,serverless,cli): response streaming bug
  .changeset/bright-peas-rule.md
  .changeset/selfish-rivers-yell.md
  packages/cli/Cargo.toml
  packages/cli/src/commands/dev.rs
  packages/runtime/src/http/mod.rs
  packages/runtime/src/isolate/bindings/pull_stream.rs
  packages/serverless/Cargo.toml
  packages/serverless/src/main.rs
Labels: bug, package/runtime, package/cli, package/serverless

#205 feat(runtime): handle `fetch` errors
  .changeset/eighty-moons-hunt.md
  packages/js-runtime/src/runtime/fetch.ts
  packages/runtime/src/http/request.rs
  packages/runtime/src/isolate/bindings/fetch.rs
  packages/runtime/src/isolate/bindings/mod.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/tests/fetch.rs
Labels: feature, package/runtime

#206 feat(runtime,js-runtime,cli,examples): add Satori example
  .changeset/small-pillows-lick.md
  Cargo.lock
  examples/satori/index.tsx
  examples/satori/package.json
  packages/cli/src/utils/deployments.rs
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/Response.ts
  packages/js-runtime/src/runtime/encoding.ts
  packages/runtime/Cargo.toml
  packages/runtime/src/http/response.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/tests/fetch.rs
  pnpm-lock.yaml
Labels: feature, package/runtime, package/cli, package/js-runtime, examples

#207 feat(js-runtime): printf-like formatting for `console.*`
  .changeset/fresh-pots-travel.md
  packages/js-runtime/src/__tests__/console.test.ts
  packages/js-runtime/src/runtime/console.ts
Labels: feature, package/js-runtime

#210 refactor(js-runtime): add core for Lagon utilities
  .changeset/sharp-rocks-hunt.md
  packages/js-runtime/src/__tests__/base64.test.ts
  packages/js-runtime/src/__tests__/console.test.ts
  packages/js-runtime/src/__tests__/encoding.test.ts
  packages/js-runtime/src/__tests__/fetch.test.ts
  packages/js-runtime/src/__tests__/url.test.ts
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/Request.ts
  packages/js-runtime/src/runtime/Response.ts
  packages/js-runtime/src/runtime/core.ts
  packages/js-runtime/src/runtime/fetch.ts
  packages/js-runtime/src/runtime/parseMultipart.ts
  packages/js-runtime/src/runtime/streams.ts
Labels: refactor, package/js-runtime

#212 feat(cli): improve versioning
  .changeset/dull-cooks-occur.md
  .changeset/quiet-ligers-chew.md
  packages/cli/npm/getBinary.js
  packages/cli/npm/install.js
  packages/cli/npm/run.js
  packages/cli/npm/uninstall.js
  packages/cli/package.json
  packages/cli/src/main.rs
  pnpm-lock.yaml
Labels: feature, package/cli

#213 fix(js-runtime): make streaming APIs global
  .changeset/poor-laws-divide.md
  packages/js-runtime/src/runtime/streams.ts
Labels: bug, package/js-runtime

#215 test(runtime): add tests for streaming
  packages/runtime/tests/streams.rs
Labels: package/runtime, tests

#217 feat(runtime): throw error when importing modules
  .changeset/fluffy-jars-allow.md
  packages/runtime/src/http/mod.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/src/runtime/mod.rs
  packages/runtime/tests/errors.rs
Labels: feature, package/runtime

#219 feat(cli): add env option to dev command
  .changeset/funny-rivers-sip.md
  Cargo.lock
  packages/cli/Cargo.toml
  packages/cli/src/commands/dev.rs
  packages/cli/src/main.rs
Labels: feature, package/cli

#220 feat(cli,serverless): forward client IP through `X-Forwarded-For` header
  .changeset/kind-boats-attack.md
  packages/cli/src/commands/dev.rs
  packages/runtime/src/http/request.rs
  packages/serverless/src/main.rs
Labels: feature, package/cli, package/serverless

#221 refactor(runtime): improve error handling
  Cargo.lock
  packages/runtime/Cargo.toml
  packages/runtime/src/http/mod.rs
  packages/runtime/src/http/request.rs
  packages/runtime/src/http/response.rs
  packages/runtime/src/isolate/bindings/fetch.rs
  packages/runtime/src/isolate/bindings/mod.rs
  packages/runtime/src/isolate/mod.rs
  packages/runtime/src/lib.rs
  packages/runtime/src/runtime/mod.rs
  packages/runtime/src/utils.rs
Labels: package/runtime, refactor
