Repository lagonapp/lagon, pull requests merged in 2022-07, with the labels that each got.

#51 feat(cli): add dev command
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/dev.ts
  packages/runtime/package.json
  packages/runtime/src/isolate/index.ts
  packages/serverless/package.json
  pnpm-lock.yaml
Labels: feature, package/cli

#57 refactor(cli): better terminal output
  packages/cli/example-function.ts
  packages/cli/package.json
  packages/cli/src/auth/index.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/commands/logout.ts
  packages/cli/src/commands/undeploy.ts
  packages/cli/src/utils/deployments.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/logger.ts
  packages/website/pages/api/deployment.ts
Labels: package/cli, refactor

#58 fix(www): type errors
  www/lib/components/Globe.tsx
  www/lib/hooks/useSystemTheme.ts
  www/pages/index.tsx
Labels: bug, package/www

#59 feat(cli): support `.env` to inject env variables in locally developed functions
  packages/cli/src/commands/dev.ts
  packages/cli/src/utils/index.ts
Labels: feature, package/cli

#60 feat(website): improve functions settings
  packages/website/lib/components/Dialog/index.tsx
  packages/website/lib/components/Form/index.tsx
  packages/website/lib/components/TagsInput/index.tsx
  packages/website/lib/components/Text/index.tsx
  packages/website/lib/form/validators.ts
  packages/website/lib/pages/function/FunctionSettings.tsx
  packages/website/pages/profile.tsx
  packages/website/pages/settings.tsx
Labels: feature, package/website

#63 refactor(serverless): better performance for functions results
  packages/serverless/package.json
  packages/serverless/src/clickhouse.ts
  packages/serverless/src/deployments/result.ts
  packages/serverless/src/master.ts
  packages/serverless/src/worker.ts
Labels: refactor, package/serverless, perf

#64 chore: update repo name
  CONTRIBUTING.md
  README.md
  www/lib/components/Header.tsx
Labels: chore

#65 refactor: update env variables
  packages/serverless/.env.example
  packages/serverless/src/clickhouse.ts
  packages/serverless/src/master.ts
  packages/website/.env.example
  packages/website/lib/api/deployments.ts
  packages/website/lib/s3.ts
  packages/website/lib/trpc/functionsRouter.ts
  packages/website/lib/trpc/organizationsRouter.ts
  packages/website/package.json
  pnpm-lock.yaml
Labels: package/website, refactor, package/serverless

#66 feat(website): add dark mode
  packages/website/lib/Layout.tsx
  packages/website/lib/components/Button/index.tsx
  packages/website/lib/components/Card/index.tsx
  packages/website/lib/components/Dialog/index.tsx
  packages/website/lib/components/Divider/index.tsx
  packages/website/lib/components/Input/index.tsx
  packages/website/lib/components/Link/index.tsx
  packages/website/lib/components/LogLine/index.tsx
  packages/website/lib/components/Menu/index.tsx
  packages/website/lib/components/Nav/index.tsx
  packages/website/lib/components/Skeleton/index.tsx
  packages/website/lib/components/TagsInput/index.tsx
  packages/website/lib/components/Text/index.tsx
  packages/website/lib/components/Textarea/index.tsx
  packages/website/lib/hooks/useSystemTheme.ts
  packages/website/lib/hooks/useTheme.ts
  packages/website/lib/types.ts
  packages/website/pages/playground/[functionId].tsx
  packages/website/public/icon-white.png
  packages/website/styles/globals.css
  packages/website/tailwind.config.js
Labels: feature, package/website, ui

#67 refactor: db architecture
  .eslintrc
  .npmrc
  Dockerfile
  README.md
  docker-compose.yml
  packages/prisma/.env.example
  packages/prisma/index.ts
  packages/prisma/migrations/20220704063811_init/migration.sql
  packages/prisma/migrations/20220704165222_add_stats_and_logs/migration.sql
  packages/prisma/migrations/20220704170242_typo/migration.sql
  packages/prisma/migrations/migration_lock.toml
  packages/prisma/package.json
  packages/prisma/schema.prisma
  packages/serverless/.env.example
  packages/serverless/package.json
  packages/serverless/src/clickhouse.ts
  packages/serverless/src/deployments/result.ts
  packages/serverless/src/exporter.ts
  packages/serverless/src/master.ts
  packages/website/.env.example
  packages/website/lib/api/__tests__/env.test.ts
  packages/website/lib/api/deployments.ts
  packages/website/lib/api/env.ts
  packages/website/lib/pages/function/FunctionLogs.tsx
  packages/website/lib/pages/function/FunctionOverview.tsx
  packages/website/lib/pages/function/FunctionSettings.tsx
  packages/website/lib/trpc/accountsRouter.ts
  packages/website/lib/trpc/deploymentsRouter.ts
  packages/website/lib/trpc/functionsRouter.ts
  packages/website/lib/trpc/organizationsRouter.ts
  packages/website/lib/trpc/tokensRouter.ts
  packages/website/next.config.js
  packages/website/package.json
  packages/website/pages/api/auth/[...nextauth].ts
  packages/website/pages/api/cron.ts
  packages/website/pages/api/deployment.ts
  packages/website/pages/api/deployments.ts
  packages/website/pages/api/trpc/[trpc].ts
  packages/website/prisma/migrations/20220530135343_init/migration.sql
  packages/website/prisma/migrations/20220607170824_cascade_delete_deployments/migration.sql
  packages/website/prisma/migrations/20220608120931_add_domains/migration.sql
  packages/website/prisma/migrations/20220611155031_add_cron_to_function/migration.sql
  packages/website/prisma/migrations/20220612094100_update_env_variables/migration.sql
  packages/website/prisma/migrations/20220612094322_update_env_variables/migration.sql
  packages/website/prisma/migrations/20220623070029_add_verification_code_to_organizations/migration.sql
  packages/website/prisma/migrations/20220623075142_add_tokens_and_verification_code_to_user/migration.sql
  packages/website/prisma/migrations/20220623081223_add_value_to_token/migration.sql
  packages/website/prisma/migrations/20220624055849_remove_token_from_organizations/migration.sql
  packages/website/prisma/migrations/20220624183652_add_triggered_and_commit_to_deployments/migration.sql
  packages/website/prisma/migrations/20220625123135_unique_functions_name/migration.sql
  packages/website/prisma/migrations/20220628181419_add_assets_to_deployments/migration.sql
  packages/website/prisma/migrations/20220630071204_/migration.sql
  packages/website/scripts/clickhouse.mjs
  pnpm-lock.yaml
Labels: refactor

#68 chore: add Dockerfile
  .gitignore
  docker/nginx.Dockerfile
  docker/nginx/nginx.conf
  docker/serverless.Dockerfile
  package.json
  packages/serverless/Dockerfile
  packages/serverless/package.json
  packages/serverless/src/worker.ts
  packages/website/.gitignore
Labels: chore

#70 feat: add `@lagon/common` package
  .github/workflows/ci.yml
  README.md
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/common/package.json
  packages/common/src/__tests__/env.test.ts
  packages/common/src/constants.ts
  packages/common/src/helpers/env.ts
  packages/common/src/helpers/extensions.ts
  packages/common/src/helpers/index.ts
  packages/common/src/index.ts
  packages/common/tsconfig.json
  packages/serverless/package.json
  packages/serverless/src/master.ts
  packages/serverless/src/server.ts
  packages/website/lib/api/deployments.ts
  packages/website/lib/constants.ts
  packages/website/lib/trpc/functionsRouter.ts
  packages/website/next.config.js
  packages/website/package.json
  pnpm-lock.yaml
Labels: feature, refactor

#71 fix(cli): replace process.env.NODE_ENV to production
  packages/cli/package.json
Labels: bug

#72 chore(examples): rename examples & fix CSR
  examples/preact-ssr/App.tsx
  examples/preact-ssr/index.tsx
  examples/preact-ssr/public/main.css
  examples/preact/App.tsx
  examples/preact/index.tsx
  examples/preact/package.json
  examples/preact/public/main.css
  examples/react-ssr/App.tsx
  examples/react-ssr/index.tsx
  examples/react-ssr/public/main.css
  examples/react/App.tsx
  examples/react/index.tsx
  examples/react/package.json
  examples/react/public/main.css
  pnpm-lock.yaml
Labels: bug, chore

#74 feat(website): customize toast colors
  packages/website/pages/_app.tsx
Labels: package/website, ui

#76 feat(website): make it responsive
  package.json
  packages/website/lib/components/FunctionLinks.tsx
  packages/website/lib/components/Link/index.tsx
  packages/website/lib/components/Nav/index.tsx
  packages/website/lib/pages/function/FunctionDeployments.tsx
  packages/website/lib/pages/function/FunctionLogs.tsx
  packages/website/lib/pages/function/FunctionOverview.tsx
  packages/website/lib/pages/function/FunctionSettings.tsx
  packages/website/lib/pages/functions/FunctionsList.tsx
  packages/website/pages/profile.tsx
  packages/website/pages/settings.tsx
Labels: feature, package/website, ui

#77 refactor(website): improve performances
  packages/website/lib/Layout.tsx
  packages/website/lib/components/FunctionLinks.tsx
  packages/website/lib/components/LayoutTitle.tsx
  packages/website/lib/hooks/useFunction.ts
  packages/website/lib/hooks/useFunctionLogs.ts
  packages/website/lib/hooks/useFunctionStats.ts
  packages/website/lib/hooks/useTokens.ts
  packages/website/lib/pages/function/FunctionDeployments.tsx
  packages/website/lib/pages/function/FunctionLogs.tsx
  packages/website/lib/pages/function/FunctionOverview.tsx
  packages/website/lib/pages/function/FunctionSettings.tsx
  packages/website/next.config.js
  packages/website/pages/_app.tsx
  packages/website/pages/api/auth/[...nextauth].ts
  packages/website/pages/cli.tsx
  packages/website/pages/functions/[functionId]/index.tsx
  packages/website/pages/index.tsx
  packages/website/pages/new.tsx
  packages/website/pages/playground/[functionId].tsx
  packages/website/pages/profile.tsx
  packages/website/pages/settings.tsx
Labels: package/website, refactor, perf

#78 fix(serverless,runtime): disable logging in prod
  packages/runtime/src/isolate/index.ts
  packages/serverless/src/master.ts
  packages/serverless/src/server.ts
Labels: package/runtime, package/serverless

#79 fix(docker): add common package to build
  .github/workflows/ci.yml
  docker/serverless.Dockerfile
  packages/serverless/src/constants.ts
  packages/serverless/src/master.ts
  packages/serverless/src/server.ts
  turbo.json
Labels: bug, package/serverless, docker

#80 chore: bring back pinned pnpm version
  package.json
Labels: chore

#81 chore(docker): add SSL and HTTP/2 to nginx
  .gitignore
  docker/nginx.Dockerfile
  docker/nginx/nginx.conf
Labels: chore, docker

#82 fix(serverless): memory leaks & remove memory from stats
  packages/cli/package.json
  packages/prisma/migrations/20220709142006_remove_memory_from_stats/migration.sql
  packages/prisma/schema.prisma
  packages/runtime/package.json
  packages/runtime/src/deployments/index.ts
  packages/serverless/package.json
  packages/serverless/src/__tests__/errors.test.ts
  packages/serverless/src/deployments/result.ts
  packages/serverless/src/exporter.ts
  packages/serverless/src/master.ts
  packages/serverless/src/server.ts
  packages/serverless/src/worker.ts
  packages/website/lib/pages/function/FunctionOverview.tsx
  packages/website/lib/trpc/functionsRouter.ts
  pnpm-lock.yaml
Labels: bug, package/website, package/serverless

#83 chore(docker): remove platform argument
  package.json
Labels: chore, docker

#87 chore: use tsup for `@lagon/cli` and `@lagon/serverless`
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/serverless/package.json
  packages/serverless/tsconfig.json
  pnpm-lock.yaml
Labels: package/cli, chore, package/serverless

#93 chore(cli): bump version to 0.0.7
  packages/cli/package.json
Labels: package/cli, chore

#94 chore: add changesets
  .changeset/README.md
  .changeset/config.json
  .github/pull_request_template.md
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Labels: chore

#95 feat(cli): support specify port and host
  packages/cli/src/cli.ts
  packages/cli/src/commands/dev.ts
Labels: feature, package/cli

#84 feat(runtime): disable code evaluation
  packages/runtime/src/__tests__/eval.test.ts
  packages/runtime/src/isolate/index.ts
  packages/runtime/src/isolate/runtime.ts
Labels: feature, package/runtime

#98 feat(website,serverless): update domains without redeploy
  packages/serverless/src/master.ts
  packages/serverless/src/worker.ts
  packages/website/lib/api/deployments.ts
  packages/website/lib/trpc/deploymentsRouter.ts
  packages/website/lib/trpc/functionsRouter.ts
Labels: feature, package/website, package/serverless

#99 refactor(serverless): clean code
  packages/serverless/.env.example
  packages/serverless/src/__tests__/errors.test.ts
  packages/serverless/src/__tests__/misc.test.ts
  packages/serverless/src/cluster/master.ts
  packages/serverless/src/cluster/worker.ts
  packages/serverless/src/constants.ts
  packages/serverless/src/deployments/utils.ts
  packages/serverless/src/index.ts
  packages/serverless/src/server.ts
Labels: refactor, package/serverless

#100 fix(cli): type errors
  .github/workflows/ci.yml
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/utils/deployments.ts
  packages/cli/tsconfig.json
  turbo.json
Labels: bug, ci, package/cli

#101 chore: add FUNDING.yml
  .github/FUNDING.yml
Labels: chore
