Repository lagonapp/lagon, pull requests merged in 2023-02, with the labels that each got.

#550 chore(deps): upgrade deps
  Cargo.lock
  crates/cli/Cargo.toml
  crates/runtime_isolate/Cargo.toml
  crates/serverless/Cargo.toml
  package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
Labels: dependency

#551 feat(astro): prepare Astro integration for release
  .changeset/brown-hats-sniff.md
  .changeset/stale-fans-rescue.md
  packages/integrations/astro/.eslintignore
  packages/integrations/astro/CHANGELOG.md
  packages/integrations/astro/README.md
  packages/integrations/astro/package.json
  packages/integrations/astro/src/index.ts
  packages/integrations/astro/src/server.ts
  packages/integrations/astro/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: feature, integration

#552 feat(remix): add Remix integration
  .changeset/clean-falcons-sit.md
  .changeset/funny-candles-perform.md
  .eslintignore
  .eslintrc
  .gitignore
  crates/cli/src/commands/build.rs
  crates/cli/src/commands/deploy.rs
  crates/cli/src/commands/dev.rs
  crates/cli/src/main.rs
  crates/cli/src/utils/deployments.rs
  crates/runtime_isolate/src/lib.rs
  crates/runtime_isolate/src/options.rs
  crates/serverless/src/cronjob.rs
  crates/wpt-runner/src/main.rs
  examples/remix/app/entry.client.tsx
  examples/remix/app/entry.server.tsx
  examples/remix/app/root.tsx
  examples/remix/app/routes/index.tsx
  examples/remix/package.json
  examples/remix/public/favicon.ico
  examples/remix/remix.config.js
  examples/remix/remix.env.d.ts
  examples/remix/server.js
  examples/remix/tsconfig.json
  packages/docs/pages/examples.md
  packages/integrations/remix/package.json
  packages/integrations/remix/src/handler.ts
  packages/integrations/remix/src/index.ts
  packages/integrations/remix/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: feature, integration, examples

#555 refactor(cli,serverless): clean duplicated code
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/dev.rs
  crates/cli/src/utils/deployments.rs
  crates/runtime_utils/Cargo.toml
  crates/runtime_utils/public/404.html
  crates/runtime_utils/public/500.html
  crates/runtime_utils/public/502.html
  crates/runtime_utils/src/assets.rs
  crates/runtime_utils/src/lib.rs
  crates/runtime_utils/src/response.rs
  crates/serverless/Cargo.toml
  crates/serverless/src/cronjob.rs
  crates/serverless/src/deployments/assets.rs
  crates/serverless/src/deployments/mod.rs
  crates/serverless/src/deployments/pubsub.rs
  crates/serverless/src/main.rs
  crates/serverless_logger/src/lib.rs
Labels: package/cli, refactor, package/serverless

#557 feat(serverless): add IP-based authorization to prometheus exporter
  .changeset/shy-zebras-arrive.md
  crates/serverless/.env.example
  crates/serverless/src/main.rs
Labels: feature

#558 refactor(dashboard,serverless): remove useless LAGON_TOKEN env variable
  crates/serverless/.env.example
  packages/dashboard/.env.example
  packages/dashboard/lib/api/index.ts
  packages/dashboard/pages/api/auth/[...nextauth].ts
Labels: package/dashboard, refactor, package/serverless

#559 feat(cli,serverless): improve error pages
  .changeset/warm-mails-nail.md
  crates/runtime_utils/public/404.html
  crates/runtime_utils/public/500.html
  crates/runtime_utils/public/502.html
  crates/serverless/src/deployments/pubsub.rs
  crates/serverless/src/main.rs
Labels: feature, package/cli, package/serverless

#561 perf(runtime): store timeouts as `Duration`
  .changeset/clever-pigs-sit.md
  crates/cli/src/commands/dev.rs
  crates/runtime/tests/errors.rs
  crates/runtime_isolate/src/lib.rs
  crates/runtime_isolate/src/options.rs
  crates/serverless/src/cronjob.rs
  crates/serverless/src/main.rs
Labels: package/runtime, package/cli, perf

#564 fix(cli,serverless): send 404 if favicon doesn't exists
  .changeset/curvy-cameras-design.md
  crates/cli/src/commands/dev.rs
  crates/runtime_utils/src/response.rs
  crates/serverless/src/main.rs
Labels: bug, package/cli, package/serverless

#567 refactor(runtime,serverless): clean code
  crates/runtime/src/lib.rs
  crates/runtime_utils/src/lib.rs
  crates/runtime_utils/src/response.rs
  crates/serverless/src/cronjob.rs
  crates/serverless/src/deployments/filesystem.rs
  crates/serverless/src/deployments/mod.rs
  crates/serverless/src/main.rs
Labels: package/runtime, refactor, package/serverless

#568 fix(serverless): send bytes event on sync responses
  .changeset/eleven-berries-tan.md
  crates/runtime_utils/src/response.rs
  crates/serverless/src/main.rs
Labels: bug, package/serverless

#569 feat(integrations): bundle using tsup with types
  .changeset/bright-cherries-jump.md
  package.json
  packages/integrations/astro/package.json
  packages/integrations/remix/package.json
  pnpm-lock.yaml
Labels: feature, integration

#571 feat(serverless): trace request id in logs
  .changeset/lazy-sloths-worry.md
  crates/runtime_http/src/headers.rs
  crates/runtime_http/src/lib.rs
  crates/runtime_http/src/request.rs
  crates/serverless/src/main.rs
Labels: feature, package/serverless

#573 fix(serverless): logging HTTP request
  .changeset/five-houses-pull.md
  crates/serverless/src/main.rs
Labels: bug, package/serverless

#577 fix(dashboard): CPU time stats to return average > 0
  .changeset/rude-ducks-listen.md
  packages/dashboard/lib/trpc/statsRouter.ts
Labels: bug, package/dashboard

#579 feat(cli): improve contrast of the colors
  .changeset/heavy-llamas-arrive.md
  crates/cli/src/commands/dev.rs
  crates/cli/src/commands/ls.rs
  crates/cli/src/utils/console.rs
  crates/cli/src/utils/deployments.rs
  crates/wpt-runner/src/main.rs
Labels: feature, package/cli

#580 feat(serverless,www,docs,dashboard): use lagon.dev for Lagon-hosted functions
  .changeset/shy-singers-refuse.md
  README.md
  crates/serverless/.env.example
  packages/dashboard/.env.example
  packages/dashboard/lib/utils.ts
  packages/docs/pages/cloud/domains.mdx
  packages/docs/pages/cloud/static-files.mdx
  packages/docs/pages/contributing.mdx
  packages/docs/theme.config.tsx
  www/lib/components/Header.tsx
  www/pages/index.tsx
Labels: package/docs, feature, package/dashboard, package/serverless, package/www

#591 feat(runtime,serverless): add V8 heap snapshots
  .changeset/early-wombats-ring.md
  .changeset/healthy-rice-fly.md
  .gitignore
  crates/runtime/Cargo.toml
  crates/runtime/package.json
  crates/runtime/tests/crypto.rs
  crates/runtime/tests/disallow_codegen.rs
  crates/runtime/tests/errors.rs
  crates/runtime/tests/fetch.rs
  crates/runtime/tests/promises.rs
  crates/runtime/tests/runtime.rs
  crates/runtime/tests/streams.rs
  crates/runtime/tests/timers.rs
  crates/runtime_isolate/Cargo.toml
  crates/runtime_isolate/src/bindings/mod.rs
  crates/runtime_isolate/src/callbacks.rs
  crates/runtime_isolate/src/lib.rs
  crates/runtime_isolate/src/options.rs
  crates/serverless/Cargo.toml
  crates/serverless/build.rs
  crates/serverless/src/main.rs
  packages/js-runtime/src/__tests__/console.test.ts
  packages/js-runtime/src/__tests__/crypto.test.ts
  packages/js-runtime/src/__tests__/fetch.test.ts
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/global/console.ts
  packages/js-runtime/src/runtime/global/crypto.ts
  packages/js-runtime/src/runtime/global/timers.ts
  packages/js-runtime/src/runtime/http/fetch.ts
  turbo.json
Labels: feature, package/runtime, package/serverless

#602 chore(deps): update deps
  Cargo.lock
  crates/cli/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  crates/runtime_http/Cargo.toml
  crates/runtime_isolate/Cargo.toml
  crates/runtime_utils/Cargo.toml
  crates/runtime_v8_utils/Cargo.toml
  crates/serverless/Cargo.toml
  docker/Dockerfile
  examples/astro/package.json
  package.json
  packages/dashboard/package.json
  packages/integrations/astro/package.json
  pnpm-lock.yaml
Labels: dependency

#603 fix(runtime): remove unused HTTP client
  .changeset/selfish-parents-fail.md
  crates/runtime_isolate/src/bindings/sleep.rs
  crates/serverless/src/main.rs
Labels: bug, package/runtime

#604 feat(cli): improve DX by saving configuration in a local config file
  .changeset/nice-cars-build.md
  crates/cli/src/commands/build.rs
  crates/cli/src/commands/deploy.rs
  crates/cli/src/commands/dev.rs
  crates/cli/src/commands/link.rs
  crates/cli/src/commands/ls.rs
  crates/cli/src/commands/promote.rs
  crates/cli/src/commands/rm.rs
  crates/cli/src/commands/undeploy.rs
  crates/cli/src/main.rs
  crates/cli/src/utils/deployments.rs
  crates/cli/src/utils/mod.rs
  packages/docs/pages/cli.mdx
Labels: feature, package/cli

#606 feat(cli): improve DX by showing more information when deploying
  .changeset/lovely-doors-brush.md
  crates/cli/src/utils/deployments.rs
Labels: feature, package/cli

#608 fix(cli): re-use the same isolate between requests to keep server-side state
  .changeset/wise-beers-joke.md
  crates/cli/src/commands/dev.rs
Labels: bug, package/cli

#610 fix(cli): allow `lagon dev` without arguments
  .changeset/loud-mugs-arrive.md
  .changeset/ten-wolves-kneel.md
  crates/cli/src/commands/dev.rs
  crates/cli/src/main.rs
  packages/docs/pages/cli.mdx
Labels: bug, package/cli

#614 fix(serverless): reconnect Redis Pub/Sub on error
  .changeset/light-parents-lay.md
  crates/serverless/src/deployments/pubsub.rs
Labels: bug, package/serverless

#616 refactor(serverless): concurrent requests
  .changeset/late-pugs-cheat.md
  .changeset/many-carrots-clean.md
  crates/serverless/.env.example
  crates/serverless/src/deployments/cache.rs
  crates/serverless/src/deployments/pubsub.rs
  crates/serverless/src/main.rs
  crates/serverless/src/worker.rs
Labels: refactor, package/serverless

#619 fix(astro): bundle for Node.js by excluding all dependencies
  .changeset/bright-hairs-rescue.md
  packages/integrations/astro/package.json
Labels: bug, integration

#620 feat(cli): parallel upload of assets
  .changeset/fair-tomatoes-unite.md
  crates/cli/src/commands/deploy.rs
  crates/cli/src/commands/link.rs
  crates/cli/src/commands/login.rs
  crates/cli/src/commands/ls.rs
  crates/cli/src/commands/promote.rs
  crates/cli/src/commands/rm.rs
  crates/cli/src/commands/undeploy.rs
  crates/cli/src/utils/config.rs
  crates/cli/src/utils/deployments.rs
  crates/cli/src/utils/trpc.rs
Labels: feature, package/cli

#622 feat(runtime,wpt): improve headers conformance
  .changeset/clever-hairs-stare.md
  .changeset/fair-years-sleep.md
  crates/cli/src/commands/dev.rs
  crates/runtime/tests/runtime.rs
  crates/runtime/tests/streams.rs
  crates/runtime_http/src/request.rs
  crates/runtime_http/src/response.rs
  crates/runtime_utils/src/assets.rs
  crates/runtime_v8_utils/src/lib.rs
  crates/serverless/src/main.rs
  crates/wpt-runner/current-results.md
  packages/js-runtime/src/runtime/http/Headers.ts
Labels: feature, package/runtime, package/cli, package/serverless, package/js-runtime, web-platform-tests

#623 perf(runtime): improve objects creation speed
  .changeset/tame-ties-judge.md
  crates/runtime_http/src/request.rs
  crates/runtime_http/src/response.rs
  crates/runtime_v8_utils/src/lib.rs
Labels: package/runtime, perf

#624 fix(runtime): avoid thread panicking when promise id not found
  .changeset/lucky-cows-cross.md
  crates/runtime_isolate/src/lib.rs
Labels: bug, package/runtime

#613 feat(examples,docs): add Nitro & Nuxt examples
  .gitignore
  examples/nitro/nitro.config.ts
  examples/nitro/package.json
  examples/nitro/routes/index.ts
  examples/nuxt/.npmrc
  examples/nuxt/app.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
  examples/nuxt/public/favicon.ico
  examples/nuxt/tsconfig.json
  examples/rakkas/package.json
  packages/docs/pages/examples.md
  pnpm-lock.yaml
Labels: package/docs, feature, examples

#627 fix(serverless): don't skip deployment when an asset failed to download
  .changeset/blue-colts-agree.md
  crates/cli/src/utils/deployments.rs
  crates/serverless/src/deployments/mod.rs
Labels: bug, package/serverless
