Repository lagonapp/lagon, pull requests merged in 2023-05, with the labels that each got.

#814 perf(runtime): improve Request/Response allocations
  .changeset/friendly-doors-end.md
  crates/runtime/tests/runtime.rs
  crates/runtime/tests/streams.rs
  crates/runtime_http/src/headers.rs
  crates/runtime_http/src/request.rs
  crates/runtime_http/src/response.rs
  crates/runtime_utils/src/assets.rs
  crates/runtime_v8_utils/src/lib.rs
  crates/serverless/src/serverless.rs
Labels: package/runtime, perf

#818 perf(serverless,cli): reduce heap allocations on responses
  .changeset/rich-cobras-applaud.md
  crates/cli/src/commands/dev.rs
  crates/runtime_http/src/lib.rs
  crates/runtime_utils/src/response.rs
  crates/serverless/src/serverless.rs
Labels: package/runtime, package/cli, perf

#819 perf(runtime,js-runtime): revert body as ArrayBuffer
  .changeset/stupid-spies-jog.md
  crates/runtime/tests/fetch.rs
  crates/runtime_http/src/request.rs
  crates/runtime_http/src/response.rs
  crates/wpt-runner/current-results.md
  packages/js-runtime/src/__tests__/fetch.test.ts
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/http/fetch.ts
Labels: package/runtime, perf, package/js-runtime

#821 feat(cli,dashboard,www,docs): increase assets per Deployment to 1000 for Pro plans
  .changeset/lazy-teachers-watch.md
  crates/cli/src/utils/deployments.rs
  crates/cli/src/utils/mod.rs
  packages/dashboard/lib/api/deployments.ts
  packages/dashboard/lib/constants.ts
  packages/dashboard/lib/plans.ts
  packages/dashboard/lib/trpc/deploymentsRouter.ts
  packages/docs/pages/cloud/assets.mdx
  packages/docs/pages/cloud/limits.mdx
  packages/docs/pages/cloud/pricing.mdx
  www/app/pricing/page.tsx
  www/next.config.js
Labels: package/docs, feature, package/dashboard, package/cli, package/www

#822 chore: update deps
  Cargo.lock
  crates/cli/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  crates/runtime_http/Cargo.toml
  crates/runtime_isolate/Cargo.toml
  crates/runtime_utils/Cargo.toml
  crates/runtime_v8_utils/Cargo.toml
  crates/serverless/Cargo.toml
  crates/serverless_downloader/Cargo.toml
  crates/serverless_pubsub/Cargo.toml
  packages/dashboard/package.json
  packages/docs/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  www/package.json
Labels: dependency

#824 feat(examples): add Xata example
  .changeset/odd-beers-hide.md
  examples/xata/.gitignore
  examples/xata/index.ts
  examples/xata/package.json
  packages/docs/pages/examples.md
  pnpm-lock.yaml
Labels: package/docs, feature, examples

#828 chore(www,docs,dashboard): disable ESLint + TypeScript when building …
  .changeset/tidy-cheetahs-cross.md
  packages/dashboard/next.config.js
  packages/docs/next.config.js
  www/next.config.js
Labels: package/docs, package/dashboard, chore, package/www

#830 feat(cli): add link to authorization code on `lagon login`
  .changeset/odd-shoes-unite.md
  crates/cli/src/commands/login.rs
Labels: feature, package/cli

#833 perf(cli,serverless): tweak release build flags
  .changeset/eleven-plants-flow.md
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/runtime_http/Cargo.toml
  crates/runtime_isolate/Cargo.toml
  crates/runtime_utils/Cargo.toml
  crates/serverless/Cargo.toml
Labels: package/cli, package/serverless, perf

#834 fix(cli,js-runtime): allow any protocols for URL parsing
  .changeset/curvy-dolls-cheer.md
  .changeset/plenty-toys-hunt.md
  crates/runtime_http/src/request.rs
  crates/runtime_http/src/response.rs
  packages/js-runtime/src/__tests__/url.test.ts
  packages/js-runtime/src/runtime/http/URL.ts
Labels: bug, package/cli, package/js-runtime

#836 feat(dashboard,docs): improve environment variables
  .changeset/nasty-avocados-sparkle.md
  .changeset/swift-books-grow.md
  .changeset/wild-apes-smell.md
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
  packages/dashboard/lib/trpc/functionsRouter.ts
  packages/dashboard/locales/en.ts
  packages/dashboard/locales/fr.ts
  packages/dashboard/pages/functions/[functionId].tsx
  packages/docs/pages/cloud/domains.mdx
  packages/docs/pages/cloud/environment-variables.mdx
  packages/docs/public/images/env-variables-list.png
  packages/docs/public/images/env-variables.png
  packages/ui/src/components/Input/index.tsx
Labels: package/docs, feature, package/dashboard

#840 feat(cli): design & UX overhaul
  .changeset/funny-waves-confess.md
  .changeset/great-cars-design.md
  .changeset/tame-planets-wave.md
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/build.rs
  crates/cli/src/commands/deploy.rs
  crates/cli/src/commands/dev.rs
  crates/cli/src/commands/link.rs
  crates/cli/src/commands/login.rs
  crates/cli/src/commands/logout.rs
  crates/cli/src/commands/ls.rs
  crates/cli/src/commands/promote.rs
  crates/cli/src/commands/rm.rs
  crates/cli/src/commands/undeploy.rs
  crates/cli/src/main.rs
  crates/cli/src/utils/console.rs
  crates/cli/src/utils/deployments.rs
  crates/cli/src/utils/mod.rs
  crates/cli/src/utils/trpc.rs
  crates/runtime_http/src/lib.rs
  crates/runtime_http/src/request.rs
  crates/runtime_http/src/response.rs
  crates/wpt-runner/Cargo.toml
  crates/wpt-runner/src/main.rs
Labels: feature, package/cli

#844 feat(dashboard): do not preload Functions on hover
  .changeset/olive-apples-wink.md
  .changeset/perfect-shirts-taste.md
  packages/dashboard/lib/components/Layout.tsx
  packages/dashboard/lib/pages/functions/FunctionsList.tsx
  packages/dashboard/pages/_app.tsx
  packages/ui/package.json
  packages/ui/src/components/Card/index.tsx
  pnpm-lock.yaml
Labels: feature, package/dashboard

#845 feat(astro): write config if not present when building
  .changeset/thin-lies-warn.md
  packages/integrations/astro/src/index.ts
Labels: feature, integration

#847 fix(dashboard): environment variable's max length
  .changeset/thick-moose-attend.md
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
  packages/dashboard/prisma/migrations/20230511153450_set_env_variables_max_length/migration.sql
  packages/dashboard/prisma/migrations/20230511154938_set_org_name_description_length/migration.sql
  packages/dashboard/prisma/schema.prisma
Labels: bug, package/dashboard

#848 feat(runtime): support AES-CBC for `SubtleCrypto#encrypt` & `SubtleCrypto#decrypt`
  .changeset/strange-moles-wave.md
  Cargo.lock
  crates/runtime/tests/crypto.rs
  crates/runtime_crypto/Cargo.toml
  crates/runtime_crypto/src/lib.rs
  crates/runtime_crypto/src/methods/decrypt.rs
  crates/runtime_crypto/src/methods/encrypt.rs
  packages/docs/pages/runtime-apis.mdx
Labels: feature, package/runtime

#851 feat(runtime): support `SubtleCrypto#deriveKey`
  .changeset/honest-squids-run.md
  crates/runtime/tests/crypto.rs
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/global/crypto.ts
Labels: feature, package/runtime

#853 fix(dashboard,serverless): typo, playground types & result errors logs
  .changeset/fair-pandas-swim.md
  .changeset/nine-ghosts-shop.md
  .changeset/real-flowers-peel.md
  crates/serverless/src/serverless.rs
  packages/dashboard/lib/components/Playground.tsx
  packages/dashboard/lib/constants.ts
Labels: bug, package/dashboard, package/serverless

#855 chore: update deps
  Cargo.lock
  crates/runtime/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  crates/runtime_crypto/src/methods/derive_bits.rs
  crates/runtime_http/Cargo.toml
  crates/runtime_isolate/Cargo.toml
  crates/runtime_v8_utils/Cargo.toml
  crates/serverless/Cargo.toml
  package.json
  packages/dashboard/package.json
  packages/docs/package.json
  pnpm-lock.yaml
Labels: dependency

#857 fix(runtime,cli,serverless): `crypto#getRandomValues` updates array in-place
  .changeset/mighty-hairs-tease.md
  crates/runtime/tests/crypto.rs
  crates/runtime_isolate/src/bindings/crypto/random_values.rs
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/global/crypto.ts
Labels: bug, package/runtime, package/cli, package/serverless

#860 fix(js-runtime,cli,serverless): `SubtleCrypto#importKey` re-uses key data
  .changeset/gold-falcons-tie.md
  packages/js-runtime/src/runtime/global/crypto.ts
Labels: bug, package/cli, package/serverless, package/js-runtime

#862 fix(runtime): `SubtleCrypto#importKey` implementation
  crates/runtime/tests/crypto.rs
  crates/runtime_http/src/lib.rs
  packages/js-runtime/src/runtime/global/crypto.ts
Labels: bug, package/runtime

#861 feat(runtime): support RSA-PSS, RSASSA-PKCS1-v1_5 & ECDSA for `SubtleCrypto#sign` & `SubtleCrypto#verify`
  .changeset/swift-rocks-carry.md
  Cargo.lock
  Cargo.toml
  crates/runtime/tests/crypto.rs
  crates/runtime_crypto/Cargo.toml
  crates/runtime_crypto/src/lib.rs
  crates/runtime_crypto/src/methods/derive_bits.rs
  crates/runtime_crypto/src/methods/generate_key.rs
  crates/runtime_crypto/src/methods/mod.rs
  crates/runtime_crypto/src/methods/sign.rs
  crates/runtime_crypto/src/methods/verify.rs
  crates/runtime_isolate/src/bindings/crypto/derive_bits.rs
  crates/runtime_isolate/src/bindings/crypto/generate_key.rs
  crates/runtime_isolate/src/bindings/crypto/mod.rs
  crates/runtime_isolate/src/bindings/crypto/sign.rs
  crates/runtime_isolate/src/bindings/crypto/verify.rs
  crates/runtime_isolate/src/bindings/mod.rs
  packages/docs/pages/runtime-apis.mdx
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/global/crypto.ts
Labels: feature, package/runtime

#863 feat(runtime): support AES-CTR for `SubtleCrypto#encrypt` & `SubtleCrypto#decrypt`
  .changeset/brown-colts-press.md
  Cargo.lock
  crates/runtime/tests/crypto.rs
  crates/runtime_crypto/Cargo.toml
  crates/runtime_crypto/src/lib.rs
  crates/runtime_crypto/src/methods/decrypt.rs
  crates/runtime_crypto/src/methods/encrypt.rs
  packages/docs/pages/runtime-apis.mdx
Labels: feature, package/runtime

#868 feat(runtime): allow `export as` for handler function
  .changeset/nasty-ads-buy.md
  crates/runtime/tests/runtime.rs
  crates/runtime_isolate/src/lib.rs
  crates/runtime_isolate/src/options.rs
  packages/js-runtime/src/index.ts
Labels: feature, package/runtime

#874 feat(examples): add Upstash examples
  .changeset/afraid-boats-lie.md
  examples/upstash-ratelimit/.env.example
  examples/upstash-ratelimit/index.ts
  examples/upstash-ratelimit/package.json
  examples/upstash/.env.example
  examples/upstash/index.ts
  examples/upstash/package.json
  packages/docs/pages/examples.md
  pnpm-lock.yaml
Labels: package/docs, examples

#876 feat(www,docs): improve perf, fix sitemap
  packages/docs/next-sitemap.config.js
  packages/docs/next.config.js
  turbo.json
  www/lib/components/images/RunButtonImage.tsx
  www/lib/components/images/WorldBottomImage.tsx
  www/lib/components/images/WorldMapImage.tsx
  www/lib/components/sections/EdgeNetworkSection.tsx
  www/lib/components/sections/ExplainSection.tsx
  www/lib/components/sections/HomeSection.tsx
  www/next-sitemap.config.js
  www/public/images/run-button.svg
  www/public/images/world-bottom.svg
  www/public/images/world-map.svg
Labels: package/docs, feature, package/www

#877 fix(dashboard): environment variables deletion
  .changeset/seven-doors-help.md
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
Labels: bug, package/dashboard

#883 perf(runtime,serverless,cli): always use Hyper types
  .changeset/silly-wombats-cheer.md
  .github/renovate.json
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/dev.rs
  crates/runtime/Cargo.toml
  crates/runtime/tests/allow_codegen.rs
  crates/runtime/tests/async_context.rs
  crates/runtime/tests/crypto.rs
  crates/runtime/tests/disallow_codegen.rs
  crates/runtime/tests/errors.rs
  crates/runtime/tests/fetch.rs
  crates/runtime/tests/promises.rs
  crates/runtime/tests/runtime.rs
  crates/runtime/tests/streams.rs
  crates/runtime/tests/timers.rs
  crates/runtime/tests/utils/mod.rs
  crates/runtime_crypto/Cargo.toml
  crates/runtime_http/Cargo.toml
  crates/runtime_http/src/headers.rs
  crates/runtime_http/src/lib.rs
  crates/runtime_http/src/method.rs
  crates/runtime_http/src/request.rs
  crates/runtime_http/src/response.rs
  crates/runtime_isolate/Cargo.toml
  crates/runtime_isolate/src/bindings/fetch.rs
  crates/runtime_isolate/src/bindings/mod.rs
  crates/runtime_isolate/src/lib.rs
  crates/runtime_utils/src/assets.rs
  crates/runtime_utils/src/response.rs
  crates/runtime_v8_utils/Cargo.toml
  crates/runtime_v8_utils/src/lib.rs
  crates/serverless/Cargo.toml
  crates/serverless/src/deployments/cache.rs
  crates/serverless/src/serverless.rs
  crates/serverless/tests/requests.rs
  crates/wpt-runner/Cargo.toml
  crates/wpt-runner/current-results.md
  crates/wpt-runner/src/main.rs
  docker/Dockerfile
  packages/js-runtime/src/index.ts
Labels: package/runtime, package/cli, package/serverless, perf

#892 chore: update deps
  Cargo.lock
  crates/cli/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  crates/wpt-runner/Cargo.toml
  pnpm-lock.yaml
Labels: dependency

#889 feat(runtime,cli,serverless): support RSA-OAEP for `SubtleCrypto#encrypt` & `SubtleCrypto#decrypt`
  .changeset/pink-carpets-hope.md
  crates/runtime/tests/crypto.rs
  crates/runtime_crypto/src/lib.rs
  crates/runtime_crypto/src/methods/decrypt.rs
  crates/runtime_crypto/src/methods/encrypt.rs
  packages/docs/pages/runtime-apis.mdx
Labels: feature, package/runtime

#872 feat: improve local development setup
  .changeset/fair-plants-peel.md
  crates/serverless/.env.example
  crates/serverless_downloader/src/lib.rs
  docker-compose.yml
  packages/dashboard/.env.example
  packages/dashboard/lib/s3.ts
  packages/docs/pages/contributing.mdx
Labels: tooling

#899 feat(dashboard,docs): improve custom domains
  .changeset/fast-apricots-check.md
  .changeset/tall-oranges-visit.md
  .changeset/tidy-yaks-push.md
  packages/dashboard/lib/pages/function/FunctionDeployments.tsx
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
  packages/dashboard/lib/pages/settings/SettingsMembers.tsx
  packages/dashboard/locales/en.ts
  packages/dashboard/locales/fr.ts
  packages/docs/pages/cloud/domains.mdx
  packages/docs/public/images/custom-domains.png
  packages/docs/public/images/domains-list.png
  packages/docs/public/images/my-domains-list.png
  packages/docs/public/images/www-domains-list.png
  packages/ui/package.json
  packages/ui/src/components/Copiable/Copiable.stories.tsx
  packages/ui/src/components/Copiable/index.tsx
  packages/ui/src/components/Link/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Labels: package/docs, feature, package/dashboard

#901 fix(dashboard,ui): close dialog on submit without errors
  .changeset/chatty-pumpkins-vanish.md
  packages/dashboard/lib/api/organizations.ts
  packages/dashboard/lib/form/validators.ts
  packages/dashboard/lib/pages/function/FunctionDeployments.tsx
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
  packages/dashboard/lib/pages/settings/SettingsGeneral.tsx
  packages/dashboard/lib/pages/settings/SettingsMembers.tsx
  packages/dashboard/pages/profile.tsx
  packages/ui/src/components/Dialog/Dialog.stories.tsx
  packages/ui/src/components/Dialog/index.tsx
  packages/ui/src/components/Form/index.tsx
Labels: bug, package/dashboard

#902 fix(serverless): failing integration tests
  crates/serverless/.env.example
Labels: bug, package/serverless

#904 fix: create s3 bucket for minio
  docker-compose.yml
Labels: bug

#873 feat(serverless): release serverless container
  .changeset/config.json
  .changeset/flat-rabbits-shake.md
  .dockerignore
  .github/workflows/container.yml
  docker/Dockerfile.serverless
  package.json
Labels: feature, tooling, package/serverless

#907 fix(dashboard,cli,serverless): various small bugs
  .changeset/hungry-geckos-tap.md
  .changeset/lemon-ducks-learn.md
  .changeset/neat-otters-live.md
  crates/cli/src/utils/console.rs
  crates/serverless/src/clickhouse.rs
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
  packages/dashboard/locales/en.ts
  packages/dashboard/locales/fr.ts
Labels: bug, package/dashboard, package/cli, package/serverless

#908 chore: update deps
  Cargo.lock
  crates/runtime/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  crates/runtime_http/Cargo.toml
  crates/runtime_isolate/Cargo.toml
  crates/runtime_v8_utils/Cargo.toml
  crates/serverless/Cargo.toml
  crates/serverless_logger/Cargo.toml
  crates/serverless_pubsub/Cargo.toml
  crates/wpt-runner/Cargo.toml
  package.json
  packages/dashboard/package.json
  packages/docs/package.json
  packages/ui/.storybook/main.ts
  packages/ui/package.json
  pnpm-lock.yaml
  www/package.json
Labels: dependency

#835 feat(js-runtime,wpt): improve conformance
  .changeset/mean-cherries-marry.md
  .changeset/spicy-insects-hug.md
  crates/wpt-runner/current-results.md
  crates/wpt-runner/src/main.rs
  packages/js-runtime/src/runtime/core.ts
  packages/js-runtime/src/runtime/global/file.ts
  packages/js-runtime/src/runtime/http/Headers.ts
  packages/js-runtime/src/runtime/http/Response.ts
  packages/js-runtime/src/runtime/http/URLSearchParams.ts
  packages/js-runtime/src/runtime/http/body.ts
Labels: feature, package/js-runtime, web-platform-tests
