Repository lagonapp/lagon, pull requests merged in 2023-03, with the labels that each got.

#633 chore: update deps
  packages/dashboard/package.json
  packages/docs/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  www/package.json
  www/pages/index.tsx
Labels: dependency

#636 fix(cli): ESBuild path on Windows
  .changeset/flat-walls-fry.md
  crates/cli/src/utils/deployments.rs
Labels: bug, package/cli

#639 fix(www): blurry logo
  .changeset/giant-papayas-dream.md
  www/lib/components/Footer.tsx
  www/lib/components/Header.tsx
  www/public/logo-small-white.png
  www/public/logo-white.png
Labels: bug, package/www

#642 chore: update deps
  package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
  www/package.json
Labels: chore, dependency

#645 feat(www): add meta theme-color
  .changeset/curly-terms-flow.md
  www/pages/_document.tsx
Labels: feature, package/www

#648 fix(serverless): logs not streaming to axiom
  .changeset/famous-elephants-cry.md
  crates/serverless/src/deployments/pubsub.rs
Labels: bug, package/serverless

#649 chore(docs): fix link to js-runtime in README
  README.md
Labels: chore

#652 chore: update deps
  Cargo.lock
  crates/runtime/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  crates/runtime_http/Cargo.toml
  crates/runtime_isolate/Cargo.toml
  crates/runtime_v8_utils/Cargo.toml
  package.json
  packages/dashboard/package.json
  packages/docs/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  www/package.json
Labels: dependency

#657 feat(dashboard): add organization members
  .changeset/wicked-kiwis-thank.md
  packages/dashboard/lib/api/functions.ts
  packages/dashboard/lib/api/organizations.ts
  packages/dashboard/lib/hooks/useOrganizationMembers.ts
  packages/dashboard/lib/pages/settings/SettingsMembers.tsx
  packages/dashboard/lib/trpc/functionsRouter.ts
  packages/dashboard/lib/trpc/organizationsRouter.ts
  packages/dashboard/lib/trpc/statsRouter.ts
  packages/dashboard/locales/en.ts
  packages/dashboard/locales/fr.ts
  packages/dashboard/prisma/migrations/20230311073514_add_organization_members/migration.sql
  packages/dashboard/prisma/schema.prisma
Labels: feature, package/dashboard

#658 chore(dashboard): update next-auth to 4.20
  .changeset/pretty-doors-wonder.md
  packages/dashboard/package.json
  packages/dashboard/pages/api/trpc/[trpc].ts
  packages/dashboard/pages/auth/signin.tsx
  pnpm-lock.yaml
Labels: package/dashboard, dependency

#663 perf(serverless,runtime,cli): use DashMap & with_capacity where possible
  .changeset/large-rivers-cough.md
  .changeset/loud-seahorses-yell.md
  .changeset/swift-tables-grow.md
  Cargo.lock
  crates/runtime_http/src/request.rs
  crates/runtime_http/src/response.rs
  crates/runtime_utils/src/assets.rs
  crates/runtime_v8_utils/src/lib.rs
  crates/serverless/Cargo.toml
  crates/serverless/src/deployments/cache.rs
  crates/serverless/src/deployments/mod.rs
  crates/serverless/src/deployments/pubsub.rs
  crates/serverless/src/main.rs
  crates/serverless/src/worker.rs
Labels: package/runtime, package/cli, package/serverless, perf

#664 fix(ci): fix artifacts publishing to release
  .github/workflows/cd.yml
Labels: bug, ci

#661 feat(docs): improve contributing docs
  CONTRIBUTING.md
  crates/serverless/.env.example
  packages/docs/pages/contributing.mdx
  packages/js-runtime/package.json
Labels: package/docs, feature

#667 ci: fix Nuxi error
  .npmrc
  examples/nuxt/.npmrc
Labels: bug, ci

#665 feat(serverless): add integration tests
  .changeset/funny-dancers-behave.md
  .changeset/short-hounds-flash.md
  .changeset/spicy-humans-battle.md
  .github/workflows/ci.yml
  Cargo.lock
  crates/cli/src/commands/dev.rs
  crates/runtime/package.json
  crates/runtime/tests/allow_codegen.rs
  crates/runtime/tests/crypto.rs
  crates/runtime/tests/disallow_codegen.rs
  crates/runtime/tests/errors.rs
  crates/runtime/tests/fetch.rs
  crates/runtime/tests/promises.rs
  crates/runtime/tests/runtime.rs
  crates/runtime/tests/streams.rs
  crates/runtime/tests/timers.rs
  crates/runtime/tests/utils/mod.rs
  crates/runtime_utils/Cargo.toml
  crates/runtime_utils/package.json
  crates/runtime_utils/public/403.html
  crates/runtime_utils/src/assets.rs
  crates/runtime_utils/src/lib.rs
  crates/runtime_utils/src/response.rs
  crates/serverless/Cargo.toml
  crates/serverless/deployments_test/assets.js
  crates/serverless/deployments_test/assets/hello.html
  crates/serverless/deployments_test/assets/index.css
  crates/serverless/deployments_test/assets/static/app.js
  crates/serverless/deployments_test/assets/static/index.css
  crates/serverless/deployments_test/assets/world/index.html
  crates/serverless/deployments_test/code-invalid.js
  crates/serverless/deployments_test/counter.js
  crates/serverless/deployments_test/forwards-headers.js
  crates/serverless/deployments_test/path-query.js
  crates/serverless/deployments_test/request.js
  crates/serverless/deployments_test/simple.js
  crates/serverless/deployments_test/stream.js
  crates/serverless/deployments_test/throw-error.js
  crates/serverless/deployments_test/timeout.js
  crates/serverless/package.json
  crates/serverless/src/deployments/downloader/fake.rs
  crates/serverless/src/deployments/downloader/mod.rs
  crates/serverless/src/deployments/downloader/s3_bucket.rs
  crates/serverless/src/deployments/filesystem.rs
  crates/serverless/src/deployments/mod.rs
  crates/serverless/src/deployments/pubsub/fake.rs
  crates/serverless/src/deployments/pubsub/mod.rs
  crates/serverless/src/deployments/pubsub/redis.rs
  crates/serverless/src/lib.rs
  crates/serverless/src/main.rs
  crates/serverless/src/serverless.rs
  crates/serverless/src/worker.rs
  crates/serverless/tests/assets.rs
  crates/serverless/tests/deployments.rs
  crates/serverless/tests/errors.rs
  crates/serverless/tests/pubsub.rs
  crates/serverless/tests/requests.rs
  crates/serverless/tests/utils/mod.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: feature, package/serverless, tests

#670 refactor(serverless): clean pubsub code
  crates/serverless/src/deployments/downloader/fake.rs
  crates/serverless/src/deployments/downloader/mod.rs
  crates/serverless/src/deployments/downloader/s3_bucket.rs
  crates/serverless/src/deployments/mod.rs
  crates/serverless/src/deployments/pubsub/fake.rs
  crates/serverless/src/deployments/pubsub/mod.rs
  crates/serverless/src/deployments/pubsub/redis.rs
  crates/serverless/src/main.rs
  crates/serverless/src/serverless.rs
  crates/serverless/tests/assets.rs
  crates/serverless/tests/deployments.rs
  crates/serverless/tests/errors.rs
  crates/serverless/tests/pubsub.rs
  crates/serverless/tests/requests.rs
Labels: refactor, package/serverless

#676 refactor(runtime,serverless,cli): parallel requests to the same isolate
  .changeset/new-cats-kiss.md
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/dev.rs
  crates/runtime/tests/allow_codegen.rs
  crates/runtime/tests/crypto.rs
  crates/runtime/tests/disallow_codegen.rs
  crates/runtime/tests/errors.rs
  crates/runtime/tests/fetch.rs
  crates/runtime/tests/promises.rs
  crates/runtime/tests/runtime.rs
  crates/runtime/tests/streams.rs
  crates/runtime/tests/timers.rs
  crates/runtime/tests/utils/mod.rs
  crates/runtime_isolate/Cargo.toml
  crates/runtime_isolate/src/bindings/fetch.rs
  crates/runtime_isolate/src/bindings/pull_stream.rs
  crates/runtime_isolate/src/callbacks.rs
  crates/runtime_isolate/src/lib.rs
  crates/serverless/Cargo.toml
  crates/serverless/build.rs
  crates/serverless/deployments_test/timeout-execution.js
  crates/serverless/deployments_test/timeout-init.js
  crates/serverless/src/deployments/cache.rs
  crates/serverless/src/deployments/mod.rs
  crates/serverless/src/deployments/pubsub/mod.rs
  crates/serverless/src/lib.rs
  crates/serverless/src/main.rs
  crates/serverless/src/serverless.rs
  crates/serverless/src/worker.rs
  crates/serverless/tests/assets.rs
  crates/serverless/tests/deployments.rs
  crates/serverless/tests/errors.rs
  crates/serverless/tests/pubsub.rs
  crates/serverless/tests/requests.rs
  crates/wpt-runner/src/main.rs
  packages/js-runtime/src/index.ts
Labels: package/runtime, package/cli, refactor, package/serverless

#679 fix(runtime): terminate isolates with 2 heartbeats missed
  .changeset/early-elephants-repeat.md
  crates/runtime_isolate/src/lib.rs
Labels: bug, package/runtime

#684 feat(js-runtime): async context
  .changeset/grumpy-meals-repair.md
  crates/runtime/tests/async_context.rs
  crates/runtime/tests/timers.rs
  packages/docs/pages/runtime-apis.mdx
  packages/js-runtime/src/index.ts
  packages/js-runtime/src/runtime/global/context.ts
  packages/js-runtime/src/runtime/global/timers.ts
Labels: feature, package/js-runtime

#688 fix(cli): allow `lagon deploy` & `lagon build` to specify files
  .changeset/smart-hotels-camp.md
  crates/cli/src/commands/build.rs
  crates/cli/src/commands/deploy.rs
  crates/cli/src/commands/dev.rs
  crates/cli/src/main.rs
  crates/cli/src/utils/deployments.rs
  packages/docs/pages/cli.mdx
Labels: bug, package/cli

#692 chore: update deps
  Cargo.lock
  crates/cli/Cargo.toml
  crates/runtime/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  crates/runtime_http/Cargo.toml
  crates/runtime_isolate/Cargo.toml
  crates/runtime_utils/Cargo.toml
  crates/runtime_v8_utils/Cargo.toml
  crates/serverless/Cargo.toml
  crates/serverless_downloader/Cargo.toml
  crates/serverless_pubsub/Cargo.toml
  docker/Dockerfile
  examples/astro/package.json
  package.json
  packages/dashboard/package.json
  packages/docs/package.json
  packages/integrations/astro/package.json
  pnpm-lock.yaml
  www/package.json
Labels: dependency

#697 fix(cli): exit with code 1 on error
  .changeset/young-shoes-explain.md
  crates/cli/src/main.rs
Labels: bug, package/cli

#698 ci: use rust-cache
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/wpt.yml
Labels: ci

#711 fix(cli): returned exit code
  .changeset/chilly-lions-shake.md
  crates/cli/npm/getBinary.js
Labels: bug, package/cli

#716 fix(dashboard): API errors due to Redis timeouts
  .changeset/wise-rabbits-worry.md
  packages/dashboard/lib/redis.ts
  packages/dashboard/package.json
  pnpm-lock.yaml
Labels: bug, package/dashboard

#719 fix(dashboard): deployments creation date
  .changeset/flat-bikes-enjoy.md
  packages/dashboard/lib/pages/function/FunctionDeployments.tsx
Labels: bug, package/dashboard

#722 chore: update deps
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/wpt.yml
  Cargo.lock
  crates/cli/Cargo.toml
  crates/runtime/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  crates/runtime_http/Cargo.toml
  crates/runtime_isolate/Cargo.toml
  crates/runtime_v8_utils/Cargo.toml
  crates/serverless_downloader/Cargo.toml
  crates/serverless_pubsub/Cargo.toml
  examples/rakkas/package.json
  examples/react-ssr/package.json
  examples/react-streaming/package.json
  examples/react/package.json
  examples/remix/package.json
  examples/satori/package.json
  examples/trpc/package.json
  package.json
  packages/dashboard/package.json
  packages/docs/package.json
  pnpm-lock.yaml
  turbo.json
Labels: dependency
