Repository lagonapp/lagon, pull requests merged in 2023-06, with the labels that each got.

#913 fix(dashboard): delete env variables before deleting Function
  .changeset/two-lies-warn.md
  packages/dashboard/lib/api/deployments.ts
Labels: bug, package/dashboard

#918 chore: update deps
  Cargo.lock
  crates/cli/Cargo.toml
  crates/serverless_logger/Cargo.toml
  examples/rakkas/package.json
  examples/remix/package.json
  examples/vite-plugin-ssr/package.json
  package.json
  packages/dashboard/package.json
  packages/docs/package.json
  packages/js-runtime/src/runtime/http/FormData.ts
  packages/ui/package.json
  pnpm-lock.yaml
  www/package.json
Labels: dependency

#920 feat(serverless,dashboard): add Cron Functions
  .changeset/friendly-readers-unite.md
  .changeset/olive-trains-taste.md
  Cargo.lock
  crates/serverless/Cargo.toml
  crates/serverless/src/cronjob.rs
  crates/serverless/src/deployments/mod.rs
  crates/serverless/src/deployments/pubsub.rs
  crates/serverless/src/lib.rs
  crates/serverless/src/main.rs
  crates/serverless/src/serverless.rs
  crates/serverless/tests/assets.rs
  crates/serverless/tests/deployments.rs
  crates/serverless/tests/errors.rs
  crates/serverless/tests/pubsub.rs
  crates/serverless/tests/requests.rs
  crates/serverless_pubsub/src/lib.rs
  packages/dashboard/lib/form/validators.ts
  packages/dashboard/lib/pages/function/FunctionDeployments.tsx
  packages/dashboard/lib/pages/function/FunctionOverview.tsx
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
  packages/dashboard/lib/pages/functions/FunctionsList.tsx
  packages/dashboard/lib/utils.ts
  packages/dashboard/locales/en.ts
  packages/dashboard/locales/fr.ts
  packages/dashboard/package.json
  packages/dashboard/pages/functions/[functionId].tsx
  packages/docs/pages/cloud/cron.mdx
  packages/docs/public/images/cron-region.png
  packages/docs/public/images/cron.png
  packages/ui/src/components/Card/index.tsx
  packages/ui/src/components/Link/index.tsx
  packages/ui/src/components/Link/styles.ts
  pnpm-lock.yaml
Labels: feature, package/dashboard, package/serverless

#922 fix(dashboard): cron preview to update as we type
  .changeset/curvy-beans-divide.md
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
Labels: bug, package/dashboard

#924 fix(serverless): retrieve environment variables when booting
  .changeset/moody-trees-march.md
  crates/serverless/src/deployments/mod.rs
Labels: bug, package/serverless

#925 fix(cli): `lagon dev` hot reload immediately
  .changeset/cyan-brooms-trade.md
  crates/cli/src/commands/dev.rs
Labels: bug, package/dashboard

#927 fix(dashboard): restrict environment variable keys characters
  .changeset/selfish-meals-joke.md
  packages/dashboard/lib/form/validators.ts
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
Labels: bug, package/dashboard

#929 refactor(serverless): revert cache eviction using ClickHouse selects
  .changeset/good-meals-grow.md
  crates/serverless/src/deployments/cache.rs
  crates/serverless/src/serverless.rs
Labels: refactor, package/serverless

#928 fix(js-runtime): set content-length header for POST/PUT with null body
  .changeset/breezy-cycles-glow.md
  crates/runtime/tests/fetch.rs
  packages/js-runtime/src/runtime/http/fetch.ts
Labels: bug, package/js-runtime

#930 fix(cli): load env file based on current directory
  .changeset/metal-mangos-watch.md
  crates/cli/src/commands/dev.rs
Labels: bug, package/cli

#936 fix(dashboard): stripe subscriptions
  .changeset/rotten-bees-nail.md
  packages/dashboard/.env.example
  packages/dashboard/lib/pages/settings/SettingsBillingUsage.tsx
  packages/dashboard/lib/trpc/organizationsRouter.ts
  packages/dashboard/package.json
  packages/dashboard/pages/api/webhooks/stripe.ts
  pnpm-lock.yaml
Labels: bug, package/dashboard

#938 feat(runtime): forward X-Lagon-Id header
  .changeset/popular-fishes-play.md
  .changeset/seven-adults-hang.md
  crates/runtime_v8_utils/src/lib.rs
  packages/dashboard/.env.example
  packages/dashboard/pages/api/webhooks/update-stripe-usages.ts
Labels: feature, package/runtime

#916 feat(serverless,runtime,cli,wpt-runner): upgrade to Rust 1.70
  .changeset/early-points-provide.md
  .changeset/neat-taxis-run.md
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/deploy.rs
  crates/cli/src/commands/link.rs
  crates/cli/src/commands/login.rs
  crates/cli/src/commands/logout.rs
  crates/cli/src/commands/promote.rs
  crates/cli/src/commands/rm.rs
  crates/cli/src/commands/undeploy.rs
  crates/cli/src/utils/console.rs
  crates/cli/src/utils/deployments.rs
  crates/runtime_crypto/Cargo.toml
  crates/runtime_crypto/src/methods/generate_key.rs
  crates/runtime_isolate/Cargo.toml
  crates/runtime_isolate/src/bindings/fetch.rs
  crates/serverless/Cargo.toml
  crates/serverless/src/cronjob.rs
  crates/serverless/src/deployments/mod.rs
  crates/serverless/src/deployments/pubsub.rs
  crates/serverless/src/lib.rs
  crates/serverless/src/main.rs
  crates/serverless/src/serverless.rs
  crates/serverless_logger/src/lib.rs
  crates/wpt-runner/Cargo.toml
  crates/wpt-runner/src/main.rs
Labels: feature, package/runtime, package/cli, package/serverless, dependency, web-platform-tests

#939 fix(runtime): out bytes for sync responses
  .changeset/pretty-socks-grab.md
  crates/runtime_utils/src/response.rs
Labels: bug, package/runtime

#941 feat(runtime,docs): support HTTP/2 in `fetch()`
  .changeset/new-insects-retire.md
  Cargo.lock
  crates/runtime/tests/fetch.rs
  crates/runtime_http/src/response.rs
  crates/runtime_isolate/Cargo.toml
  crates/runtime_isolate/src/bindings/fetch.rs
  crates/runtime_isolate/src/bindings/mod.rs
  packages/docs/pages/runtime-apis.mdx
Labels: package/docs, feature, package/runtime

#943 chore: update deps
  Cargo.lock
  crates/cli/Cargo.toml
  crates/serverless/current.svg
  crates/serverless/flamegraph.svg
  package.json
  packages/dashboard/package.json
  packages/docs/package.json
  packages/js-runtime/package.json
  pnpm-lock.yaml
  www/package.json
Labels: dependency

#906 feat(dashboard): add container image
  .changeset/cold-pumpkins-sort.md
  .dockerignore
  .github/workflows/container.yml
  docker/Dockerfile.dashboard
  package.json
  packages/dashboard/next.config.js
Labels: tooling, package/dashboard

#945 feat(dashboard): improve domains status
  .changeset/khaki-dogs-type.md
  packages/dashboard/lib/pages/function/FunctionSettings.tsx
  packages/dashboard/locales/en.ts
  packages/dashboard/locales/fr.ts
  packages/dashboard/package.json
  pnpm-lock.yaml
Labels: feature, package/dashboard

#948 refactor(serverless,cli): redis pub/sub & rustls-tls
  .changeset/nasty-weeks-lie.md
  .changeset/rude-toys-wait.md
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/utils/deployments.rs
  crates/cli/src/utils/trpc.rs
  crates/runtime_isolate/Cargo.toml
  crates/serverless/Cargo.toml
  crates/serverless/src/deployments/pubsub.rs
  crates/serverless_logger/Cargo.toml
  crates/serverless_pubsub/Cargo.toml
  crates/serverless_pubsub/src/fake.rs
  crates/serverless_pubsub/src/lib.rs
  crates/serverless_pubsub/src/redis.rs
Labels: package/cli, refactor, package/serverless

#949 refactor(runtime,js-runtime): body perf
  .changeset/modern-buttons-beg.md
  crates/runtime_v8_utils/src/lib.rs
  crates/serverless/current.svg
  crates/serverless/flamegraph.svg
  crates/wpt-runner/current-results.md
  packages/js-runtime/src/__tests__/fetch.test.ts
  packages/js-runtime/src/runtime/http/Headers.ts
  packages/js-runtime/src/runtime/http/Response.ts
  packages/js-runtime/src/runtime/http/body.ts
  packages/js-runtime/src/runtime/http/fetch.ts
Labels: package/runtime, package/js-runtime

#952 feat(serverless): add `x-robots-tag: noindex` header to preview deployments
  .changeset/modern-moose-reflect.md
  crates/cli/src/commands/dev.rs
  crates/runtime_http/src/headers.rs
  crates/runtime_utils/src/lib.rs
  crates/runtime_utils/src/response.rs
  crates/serverless/src/serverless.rs
  crates/serverless/tests/requests.rs
Labels: feature, package/serverless

#954 fix(dashboard): wrong Prisma migration
  .changeset/large-pets-rule.md
  packages/dashboard/prisma/migrations/20230602061526_remove_assets_table_use_json_instead/migration.sql
Labels: bug, package/dashboard

#958 chore: update deps
  Cargo.lock
  crates/runtime/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  crates/runtime_isolate/Cargo.toml
  crates/serverless/Cargo.toml
  crates/serverless_logger/Cargo.toml
  crates/serverless_pubsub/Cargo.toml
  docker/Dockerfile.dashboard
  docker/Dockerfile.serverless
  package.json
  packages/dashboard/package.json
  packages/docs/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  www/package.json
Labels: dependency

#959 fix(dashboard): set full session with token auth
  .changeset/poor-ants-lay.md
  packages/dashboard/pages/api/trpc/[trpc].ts
Labels: bug, package/dashboard

#964 chore: update deps
  Cargo.lock
  crates/cli/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  package.json
  packages/dashboard/package.json
  packages/docs/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  www/package.json
Labels: dependency

#965 feat(js-runtime,serverless,cli): allow `fetch()` with a `Request`
  .changeset/pretty-jeans-develop.md
  crates/runtime/tests/fetch.rs
  packages/js-runtime/src/runtime/http/fetch.ts
Labels: feature, package/cli, package/serverless, package/js-runtime

#969 perf(serverless): small perf wins
  .changeset/wicked-pears-battle.md
  Cargo.lock
  crates/runtime_utils/src/assets.rs
  crates/serverless/Cargo.toml
  crates/serverless/src/serverless.rs
Labels: package/serverless, perf

#972 feat(cli): automatically load `.env` from current dir
  .changeset/itchy-chicken-count.md
  crates/cli/src/commands/dev.rs
Labels: feature, package/cli

#973 fix(dashboard,docs): bangalore region is ap-west and not ap-south
  .changeset/lazy-walls-impress.md
  packages/dashboard/lib/constants.ts
  packages/docs/pages/cloud/regions.mdx
Labels: bug, package/docs, package/dashboard

#974 fix(dashboard): don't crash when cron parsing fails
  .changeset/proud-bears-sell.md
  packages/dashboard/lib/pages/function/FunctionOverview.tsx
  packages/dashboard/locales/en.ts
  packages/dashboard/locales/fr.ts
Labels: bug, package/dashboard

#971 chore(examples): add Drizzle + Turso example
  .changeset/cold-parents-tap.md
  .changeset/shy-comics-do.md
  examples/drizzle-turso/.env.example
  examples/drizzle-turso/drizzle.config.ts
  examples/drizzle-turso/index.ts
  examples/drizzle-turso/migrations/0000_furry_sphinx.sql
  examples/drizzle-turso/migrations/meta/0000_snapshot.json
  examples/drizzle-turso/migrations/meta/_journal.json
  examples/drizzle-turso/package.json
  examples/drizzle-turso/schema.ts
  examples/turso/index.ts
  packages/docs/pages/examples.md
  pnpm-lock.yaml
Labels: chore, examples

#977 perf(serverless): reduce `clone()`ing
  .changeset/perfect-boats-divide.md
  crates/cli/src/commands/dev.rs
  crates/runtime/tests/allow_codegen.rs
  crates/runtime/tests/async_context.rs
  crates/runtime/tests/crypto.rs
  crates/runtime/tests/fetch.rs
  crates/runtime/tests/promises.rs
  crates/runtime/tests/runtime.rs
  crates/runtime/tests/timers.rs
  crates/runtime/tests/utils/mod.rs
  crates/runtime_http/src/lib.rs
  crates/runtime_http/src/response.rs
  crates/runtime_isolate/src/lib.rs
  crates/runtime_utils/src/assets.rs
  crates/runtime_utils/src/response.rs
  crates/serverless/src/clickhouse.rs
  crates/serverless/src/cronjob.rs
  crates/serverless/src/serverless.rs
Labels: package/serverless, perf

#976 perf(serverless): use Jemalloc instead of the default allocator
  .changeset/lucky-mails-admire.md
  Cargo.lock
  crates/serverless/Cargo.toml
  crates/serverless/src/main.rs
Labels: package/serverless, perf

#979 refactor(serverless,runtime-utils): avoid allocating `String`s
  .changeset/slimy-moles-jump.md
  crates/runtime_utils/src/assets.rs
  crates/serverless/src/deployments/mod.rs
  crates/serverless/src/serverless.rs
  crates/serverless_downloader/src/fake.rs
  crates/serverless_downloader/src/lib.rs
  crates/serverless_downloader/src/s3_bucket.rs
  crates/serverless_pubsub/src/lib.rs
  crates/serverless_pubsub/src/redis.rs
Labels: refactor, package/serverless

#982 fix(dashboard): upgrade functions limits on plan change
  .changeset/metal-panthers-boil.md
  packages/dashboard/lib/api/deployments.ts
  packages/dashboard/pages/api/webhooks/stripe.ts
Labels: bug, package/dashboard

#983 fix(dashboard,cli): deploy to the selected organization id
  .changeset/curvy-pumas-clean.md
  crates/cli/src/commands/deploy.rs
  crates/cli/src/commands/link.rs
  crates/cli/src/commands/ls.rs
  crates/cli/src/commands/promote.rs
  crates/cli/src/commands/rm.rs
  crates/cli/src/commands/undeploy.rs
  crates/cli/src/utils/deployments.rs
  crates/cli/src/utils/trpc.rs
  packages/dashboard/pages/api/trpc/[trpc].ts
Labels: bug, package/dashboard, package/cli

#984 chore: add sponsors
  .changeset/large-ads-hope.md
  .changeset/new-vans-sit.md
  README.md
  assets/sponsors.png
  packages/docs/pages/index.mdx
  packages/docs/public/favicon.ico
Labels: package/docs, chore

#987 feat(dashboard,ui): improve Stripe upgrade flow
  .changeset/afraid-panthers-drive.md
  .changeset/fluffy-planets-boil.md
  packages/dashboard/lib/pages/settings/SettingsBillingUsage.tsx
  packages/dashboard/lib/trpc/organizationsRouter.ts
  packages/dashboard/locales/en.ts
  packages/dashboard/locales/fr.ts
  packages/ui/package.json
  packages/ui/src/components/Banner/Banner.stories.tsx
  packages/ui/src/components/Banner/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Labels: feature, package/dashboard, package/ui

#988 chore: update deps
  Cargo.lock
  crates/cli/Cargo.toml
  crates/runtime_crypto/Cargo.toml
  docker/Dockerfile.dashboard
  docker/Dockerfile.serverless
  package.json
  packages/dashboard/package.json
  packages/docs/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  www/package.json
Labels: dependency

#990 refactor(cli): binary install
  .changeset/nine-waves-grow.md
  crates/cli/npm/binary-install.js
  crates/cli/npm/getBinary.js
  crates/cli/npm/install.js
  crates/cli/npm/run.js
  crates/cli/package.json
  pnpm-lock.yaml
Labels: package/cli, refactor

#993 fix(dashboard): correctly get the organization id when using tokens
  .changeset/great-teachers-draw.md
  packages/dashboard/pages/api/trpc/[trpc].ts
Labels: bug, package/dashboard

#997 fix(cli): assets path on Windows
  .changeset/brown-pens-scream.md
  crates/cli/src/utils/deployments.rs
Labels: bug, package/cli

#1001 fix(js-runtime,cli,serverless): error when handler doesn't return a Response
  .changeset/kind-doors-behave.md
  crates/runtime/tests/errors.rs
  packages/js-runtime/src/index.ts
Labels: bug, package/cli, package/serverless, package/js-runtime

#1000 feat(svelte,docs): add SvelteKit adapter & example
  .changeset/odd-ties-live.md
  examples/sveltekit/.gitignore
  examples/sveltekit/package.json
  examples/sveltekit/src/app.d.ts
  examples/sveltekit/src/app.html
  examples/sveltekit/src/lib/images/github.svg
  examples/sveltekit/src/lib/images/svelte-logo.svg
  examples/sveltekit/src/lib/images/svelte-welcome.png
  examples/sveltekit/src/lib/images/svelte-welcome.webp
  examples/sveltekit/src/routes/+layout.svelte
  examples/sveltekit/src/routes/+page.svelte
  examples/sveltekit/src/routes/+page.ts
  examples/sveltekit/src/routes/Counter.svelte
  examples/sveltekit/src/routes/Header.svelte
  examples/sveltekit/src/routes/about/+page.svelte
  examples/sveltekit/src/routes/about/+page.ts
  examples/sveltekit/src/routes/styles.css
  examples/sveltekit/src/routes/sverdle/+page.server.ts
  examples/sveltekit/src/routes/sverdle/+page.svelte
  examples/sveltekit/src/routes/sverdle/game.ts
  examples/sveltekit/src/routes/sverdle/how-to-play/+page.svelte
  examples/sveltekit/src/routes/sverdle/how-to-play/+page.ts
  examples/sveltekit/src/routes/sverdle/reduced-motion.ts
  examples/sveltekit/src/routes/sverdle/words.server.ts
  examples/sveltekit/static/favicon.png
  examples/sveltekit/static/robots.txt
  examples/sveltekit/svelte.config.js
  examples/sveltekit/tsconfig.json
  examples/sveltekit/vite.config.ts
  packages/docs/pages/examples.md
  packages/integrations/sveltekit/files/entry.js
  packages/integrations/sveltekit/package.json
  packages/integrations/sveltekit/src/index.ts
  packages/integrations/sveltekit/tsconfig.json
  pnpm-lock.yaml
Labels: integration, examples
